[2020-08-18 07:22] Uzay-G opened #2 "ADD: Static site generation of knowledge base data into a public, static website."
I think this could be useful for those who want to share their knowledge bases and publish them.

The program would simply generate static html files based on the data of the knowledge base.

[2020-08-18 07:26] Uzay-G opened #3 "ADD: way of opening local file automatically once new note is created."
For example, I create a note on `Knowledge bases`. I will then have to open the generated file myself.

Figuring out a way to open this file in your specified editor automatically would improve the UX here.

[2020-08-18 09:24] Uzay-G opened #4 "Dockerize application"

[2020-08-18 09:25] Uzay-G opened #5 "BUG: When the user has not enabled elasticsearch, the search bar will still appear even if it will not work"

[2020-08-18 09:32] HarshaVardhanJ commented on #4
Working on it. Currently running into an issue with installing the required packages via pip. The error message:

[code]

I tried building the file after commenting out the line with the offending package(`pkg-resouces` and the build worked). The issue is similar to [this](https://github.com/pypa/pip/issues/4022) and [this](https://stackoverflow.com/questions/39577984/what-is-pkg-resources-0-0-0-i

[2020-08-18 09:50] Uzay-G commented on #4
I tried running the app without the package and had no problems. I just pushed a commit that removes it from the `requirements.txt` and I think running the build without the package is good.

Thanks for helping to dockerize it! (I don't know much about how to build docker images). I'm happy to help with any questions or issues you might have :)

[2020-08-18 10:19] HarshaVardhanJ commented on #4
Thank you. I'll create a pull request once the Dockerfile is ready. I've got it to build and run. I'm trying to get the image down to a smaller size.

[2020-08-18 11:25] HarshaVardhanJ commented on #4
I've run into an issue while trying to get the Docker image to run. Here is the output of `bash start.sh`:

[code]

When I try to access `http://localhost:5000/`, there's nothing running on that port. Am I missing something?

[2020-08-18 12:38] Uzay-G commented on #4
It should be running... Are you still having this problem?

[2020-08-18 14:02] HarshaVardhanJ commented on #4
Same issue. Here's the error message. Seems to be similar to the previous one.

[code]

Not sure what is causing it. Is there some way I can provide more information to help you debug?

[2020-08-18 14:25] HarshaVardhanJ commented on #4
Forgive me if I'm wrong, but I think there might be an issue with the `archivy.py` file. I tried running the `python3.8 archivy.py` directly in the container. Here's the output:
[code]

Is there something I've overlooked?

[2020-08-18 14:49] Uzay-G commented on #4
Oh im sorry I pushed a bug recently without realizing it but my last commit just fixed it: https://github.com/Uzay-G/archivy/commit/f9ee6c0ccb75fc5bacdea5497311a05d8b96583e.

Just pull and it should be good.

[2020-08-18 15:07] HarshaVardhanJ commented on #4
I tried running `python3.8 archivy.py` again, after pulling the changes made. The program seemed to exit without much output:
[code]

And as before, I'm having the same issue with running `start.sh`.

[2020-08-18 15:21] Uzay-G commented on #4
When you run it, does the program end? Also on the last line of `start.sh`, remove `FLASK_DEBUG=1` so the output is less loud.

It's normal that `python3 archivy.py` stopped without running the server but you can try simply running `FLASK_APP=archivy.py flask run` without using the `start.sh`

[2020-08-18 15:32] HarshaVardhanJ commented on #4
When I run `FLASK_DEBUG=1 flask run`, the program does not run. The web server seems to keep running, but there does not seem to be anything running in the backend to intercept the requests sent.

I tried running `FLASK_APP=archivy.py flask run`(after activating the virtual environment). This was the output:

[code]

The web server is running, but I'm unable to access the application.

[2020-08-18 15:38] Uzay-G commented on #4
Are you running this locally? If you're accessing a remote server with a public ip maybe see this SO answer: https://stackoverflow.com/questions/30554702/cant-connect-to-flask-web-service-connection-refused

You can try running `FLASK_APP=archivy.py flask run --host=0.0.0.0`

[2020-08-18 16:00] HarshaVardhanJ commented on #4
Bingo. I was building and running the container locally, but with the way Docker works, the requests were not being sent to the application, which was listening on localhost *inside* the container. Here's a [link])(https://pythonspeed.com/articles/docker-connection-refused/) that describes this. Thanks!

[2020-08-18 16:06] Uzay-G commented on #4
Yeah ok!

[2020-08-18 17:09] HarshaVardhanJ commented on #4
Added Dockerfiles! Created PR.

[2020-08-18 22:51] Uzay-G opened #13 "Look for full-text search engine that is easier to setup than Elasticsearch"
Elasticsearch is extremely powerful and flexible, but slightly hard to setup.

Could be interesting to find a more lightweight yet still qualitative alternative.

[2020-08-19 03:49] HarshaVardhanJ commented on #13
Take a look at this [SO post](https://stackoverflow.com/questions/737275/comparison-of-full-text-search-engine-lucene-sphinx-postgresql-mysql). The two main suggestions seem to be [Sphinx](http://sphinxsearch.com) and [Apache Solr](https://lucene.apache.org/solr/).

[2020-08-19 04:01] jochenleidner commented on #13
Lucene is what I'd suggest, it's the actual search engine powering both Elastic and Solr. It can be used as a standalone library to index a set of files and to query the resulting index in just a few lines of Java code.

[2020-08-19 06:05] Soundtoxin opened #14 "Add a license file"
I didn't see a license file. What license is this project supposed to use?

[2020-08-19 06:11] HarshaVardhanJ commented on #4
@Uzay-G This issue can be closed now, yes?

[2020-08-19 08:30] Uzay-G commented on #14
Good idea! I just added the MIT license.

[2020-08-19 08:30] #14 closed

[2020-08-19 08:31] Uzay-G commented on #13
@jochenleidner elasticsearch feels like overkill for a knowledge base, and so I wanted to use something a bit less bulky and difficult to set up. Is lucene a good fit for that?

[2020-08-19 08:37] Uzay-G commented on #13
This could also be interesting as a lightweight python alternative to elasticsearch that uses sqlite: https://scout.readthedocs.io/en/latest/index.html

[2020-08-19 08:38] Uzay-G commented on #4
Yup!

[2020-08-19 08:38] #4 closed

[2020-08-19 08:53] Uzay-G opened #15 "Move detailed docker instructions to docker.md"
The current docker instructions are really great but they occupy a big part of the readme, and especially if you're going with a local setup so it doesn't interest you, it could be annoying.

I think we should provide quick instructions in the Readme and then link to the amazing docs @HarshaVardhanJ made in another `DOCKER.md` file.

[2020-08-19 09:04] jochenleidner commented on #13
Yes, compare e.g. the sizes of the packages: 305 MB (Elastic) and 80 MB (Lucene). In terms of complexity it's even more than a 4x win, IMHO.

In constrast, I don't recommend solutions based on relational databases; they aren't typically suitable for fast and compressing inverted file storage of textual structures, as they provide higher level abstractions like a relational query language layer and

[2020-08-19 10:07] HarshaVardhanJ commented on #15
Will do! Thank you.

[2020-08-19 16:07] pbronez commented on #13
It would be valuable to use a search engine written in Python, or at least packaged with pip/conda. This would facilitate deployment to environments that have a Python interpreter but not Docker or perhaps even root privileges. This is the case with many enterprise-managed devices found in companies and schools.

[2020-08-19 19:42] jochenleidner commented on #13
Lucene is in Java, but there is a CLucene implementation in C++ (
http://clucene.sourceforge.net/ ), and C++ code is easier to integrate with
Python than Java.

On Wed, 19 Aug 2020 at 17:08, Peter Bronez <notifications@github.com> wrote:

[2020-08-19 21:18] leram84 commented on #13
I was going to suggest including elasticsearch in the docker container, but maybe not worth the issue if you're going to move to something else soon?

[2020-08-19 21:24] leram84 opened #17 "[FR] Add a sidebar to the UI"
The file tree would be much more accessible and intuitive as a sidebar imo. You could even still keep the existing tree in the main window if you want that type of experience when doing a live search, but having a much smaller font sidebar to quickly drill down when you have a lot of dirs would be much more efficient. And maybe a section in the sidebar above or under the filetree for the most popu

[2020-08-19 21:30] Uzay-G commented on #13
I think we will probably go with giving an option to either use elasticsearch and the power that comes with it OR a native python library like Scout. @HarshaVardhanJ do you know how it would be potentially possible to integrate this into the docker image in the future?

[2020-08-19 21:39] Uzay-G commented on #17
Thank you so much! :smile:

For the sidebar you mean something on the side of every page and provide a minimal tree view?

We could remove the tree view from the homepage and then provide a more advanced ui in the main page (options to group pages by tag, etc...)

[2020-08-19 22:05] leram84 commented on #17
I think we're saying the same thing... I mean to have the entire ui broken into a sidebar/mainpage system. The sidebar would basically be everything you currently have from `root` down, but when you open pages it would just open them in the mainpage frame.

[2020-08-20 01:14] HarshaVardhanJ commented on #13
Will be adding Elasticsearch integration soon. Working on it.

On Thu, 20 Aug 2020, 02:48 leram84, <notifications@github.com> wrote:

[2020-08-20 01:15] HarshaVardhanJ commented on #13
It would be possible, yes. I'll create a PR once I've got it up and running
on my local machine.

On Thu, 20 Aug 2020, 03:00 Uzay-G, <notifications@github.com> wrote:

[2020-08-20 07:53] Cybergate9 commented on #13
Elastic's strength is simplicity in implementation for such a basic use case, although I hear what others are saying about simpler + python.
Two options seems like a reasonable compromise to expand deployment options for different folks :-)

[2020-08-20 11:29] Uzay-G opened #19 "Think about cross-platform in Archivy -> Ways to allow access to Archivy from any device."

[2020-08-20 12:50] HarshaVardhanJ commented on #19
Is it not accessible by any device in its current state? The frontend runs in a browser, so any device should be able to access it. Could you clarify what you mean?

[2020-08-20 13:40] Uzay-G commented on #19
The frontend can be accessed but the problem is that once can only edit data from the system where the server is hosted itself because there is no ui for editing.

[2020-08-20 13:54] Uzay-G opened #21 "Package flask app for pip for easier install"

[2020-08-20 15:40] HarshaVardhanJ commented on #15
@Uzay-G Can we close this issue now that most of the documentation is done?

[2020-08-20 16:28] Uzay-G commented on #15
Yes perfect!

[2020-08-20 17:08] HarshaVardhanJ opened #22 "Querying doesn't seem to work"
I've started both Archivy and Elasticsearch using Docker Compose. I've checked to make sure that Archivy is able to connect to Elasticsearch. I added a few notes and folders in Archivy. When I try to query them from the command line using
[code]

I get a valid response like this:
[code]

But when I try the query from the search bar, nothing turns up. I've pasted the logs below:
[code]

Judging fro

[2020-08-20 17:26] Uzay-G commented on #22
Hmm, the way it works is when you launch the app, it checks if the `dataobj` index is created, and if it is not, it loads the elasticsearch.json config and creates the index here:
https://github.com/Uzay-G/archivy/blob/9beadc813b8ece7c668fd7dcc1be59ce50782043/main/__init__.py#L18-L25

So maybe try deleting the test note, and running `curl -X DELETE http://localhost:9200/dataobj`. Then could you se

[2020-08-20 23:08] Uzay-G commented on #21
I am doing well with this on this branch @srevinsaju: https://github.com/Uzay-G/archivy/commit/9473b2cb188b3492ab05b30635c417178a09e79c. My last commit allowed users to have `archivy` in their path to open it and packaged everything into a single package.

I still have some work to do on it though.

[2020-08-20 23:09] Uzay-G commented on #22
Please tell me what happens with this because it is a major problem.

[2020-08-20 23:16] Uzay-G opened #23 "Change location of `data` dir"
Linked to https://github.com/Uzay-G/archivy/issues/21.

If we package archivy into a pip-installable python package, we don't want user data to be saved in the python-packages dir.

There are a few solutions we could do for this:

a) Set a default location where the data will be stored - not very cross-platform but easy
b) Allow the user to run a command like `archivy init` that they run inside th

[2020-08-21 03:23] HarshaVardhanJ commented on #22
Apologies for the delay. I'll be more detailed here.

## Initial Steps Taken

After starting up Archivy with Elasticsearch, here are the steps I took:

- Added a new note titled `Test Note` with the tag `test`.
- Added a new note titled `New Note` with the tag `test`.
- Added a new folder titled `TestFolder` with the tag `test`.
- Added a new note inside `TestFolder` titled `New Note` with the tag

[2020-08-21 06:36] HarshaVardhanJ commented on #21
@Uzay-G If and when the setup procedure of Archivy changes, please add it to the README. I will need to update the Docker-related files accordingly.

[2020-08-21 07:42] Uzay-G commented on #22
Sorry, I forgot a few steps in what I asked you last time to try:

1. Delete all of the notes through the ui.
2. do `curl -X DELETE http://localhost:9200/dataobj` to delete the index
3. Close the application `CTRL+C` on the shell.
4. Rerun the application this time

What happens if you try this?

[2020-08-21 08:31] HarshaVardhanJ commented on #22
Here's what I did:

- Ran Archivy with Elasticsearch
- Created a note, then tried searching. Same error(s) as before.
- Deleted the note from the UI.
- Ran `curl -X DELETE http://localhost:9200/dataobj` from the host machine(received `{"acknowledged":true}`)
- Killed the container. That stops the processes inside the container.
- Started the container. This restarts the processes inside the contai

[2020-08-21 08:58] Uzay-G commented on #22
Could you try adding something to the content of the note and then searching that content. Not `desc` but the content of the markdown file. It could be that it's not searching the fields correctly.

[2020-08-21 19:30] srevinsaju opened #27 "Support Channel"
`archivy` is growing faster and better. It would be cool to have a developer community

Ordered by (my personal / developer) preference
1. IRC Channel
2. Matrix channel (Remake of IRC, cool UI (element))
3. Discord Channel

How is the idea? @Uzay-G

[2020-08-22 05:12] HarshaVardhanJ opened #29 "Request to change the bind address to `0.0.0.0` instead of the default `localhost`."
Currently,`archivy/run.py` is:
[code]

Could we change it to the following?
[code]

When running inside a container, if Flask accepts connections only from `localhost`, I cannot access the server from outside the container. The process will need to listen on *all* interfaces *inside* the container. Can we make this change?

[2020-08-22 13:02] srevinsaju opened #32 "Need a logo for archivy"
(Maybe this issue can be marked as a `good-first-issue`)

[2020-08-22 13:50] #29 closed, assigned to nobody

[2020-08-22 21:40] Uzay-G opened #33 "Optional minimal markdown editor so people can edit files through the frontend"

[2020-08-22 21:43] Uzay-G opened #34 "Add syncing to hacker news upvoted and saved reddit links"
Archivy supports syncing to Pocket to save html pages you've bookmarked locally.

It would be nice to also implement this by connecting to the hacker news api and reddit api so users can also sync to these links.

[2020-08-23 13:38] laoshaw opened #35 "Asan runtime issue"
On ubuntu 20.04 I could not run it, I got "==889789==ASan runtime does not come first in initial library list; you should either link runtime to your application or manually preload it with LD_PRELOAD."

[2020-08-23 17:02] #23 closed

[2020-08-23 17:05] srevinsaju commented on #33
Cool open source browser markdown editor : https://stackedit.io/app#

[2020-08-23 18:42] srevinsaju commented on #35
@laoshaw sorry for the delay, but
Can you test this, and see if it works

[archivy-x86_64.AppImage](https://transfersh.com/I7WfQ/archivy-x86_64.AppImage)

[2020-08-23 18:53] laoshaw commented on #35
yes this one works. Thanks.

[2020-08-23 18:56] srevinsaju commented on #35
@laoshaw the static files did not work on the old appimage. This one works https://transfersh.com/YmEz2/archivy-x86_64.AppImage

[2020-08-23 19:13] laoshaw commented on #35
both worked for me. Thanks.

[2020-08-23 19:24] cktang88 opened #39 "Add elastic-search to docker-compose?"
Could the elastic-search image be added into the docker-compose file? Then we wouldn't have to install elasticsearch outside of docker and run both in order to run the app. We'd simply just start up the docker-compose and it'll have everything needed to run the app.

[2020-08-23 20:03] Uzay-G commented on #39
@HarshaVardhanJ what do you think of this? We should also update the docker stuff to use the python package.

[2020-08-23 20:08] Uzay-G commented on #35
Perfect! Thanks @srevinsaju

On Sun, Aug 23, 2020 at 9:13 PM Ginger Old <notifications@github.com> wrote:

[2020-08-23 20:34] cktang88 commented on #32
@Uzay-G do you have logos that you want archivy's to have a similar feel/look to? I've personally found going to https://logomaster.ai/ and seeing a few options helpful in narrowing down logo options before iterating.

[2020-08-23 21:38] cktang88 opened #41 "Some links get turned into buttons"
For example, this link: https://hbr.org/2020/02/how-to-leave-work-at-work

![image](https://user-images.githubusercontent.com/10319942/90989295-d1564580-e55e-11ea-931e-34cef10ff402.png)

gets turned into:
![image](https://user-images.githubusercontent.com/10319942/90989322-de733480-e55e-11ea-8fd2-fc2ecd750230.png)

The DOM looks like:
![image](https://user-images.githubusercontent.com/10319942/909

[2020-08-23 21:40] Uzay-G commented on #41
That's weird... What are the stylings for the button <a> tags?

[2020-08-23 21:42] cktang88 commented on #41
The computed styling (firefox dev tools):
![image](https://user-images.githubusercontent.com/10319942/90989473-9a346400-e55f-11ea-8920-b78d0dca8c18.png)

[2020-08-23 21:49] cktang88 commented on #41
It seems the difference between the buttons and the non-button links is that the button links are italicized...
[code]

[2020-08-23 21:54] Uzay-G commented on #41
Oh I found the problem. Ill push a fix soon.

[2020-08-23 22:07] cktang88 commented on #3
On Linux, you can use `xdg-open` to use whatever the user has as the default application for opening markdown files.

[2020-08-23 22:12] Uzay-G commented on #3
Oh nice. I didn't think of that!

On Mon, Aug 24, 2020 at 12:07 AM Kwuang Tang <notifications@github.com>
wrote:

[2020-08-24 02:23] HarshaVardhanJ commented on #39
Please check the `docker` branch. Also, there's a PR pending to it that contains various fixes and improvements.

[2020-08-24 02:29] HarshaVardhanJ commented on #39
@cktang88 If you wish to use Archivy with Elasticseach, use the `docker-compose-with-elasticsearch.yml` file. If it isn't available in the `docker` branch of this repo, check [this repo](https://github.com/HarshaVardhanJ/archivy/tree/docker). This contains all the updated docker-related documentation as well.

[2020-08-24 03:08] HarshaVardhanJ commented on #29
@Uzay-G Also, could you update the changes to the `0.0.5` release?

[2020-08-24 04:07] cktang88 opened #43 "feature request: bulk-import Chrome/Firefox bookmark exports"
It would be useful to have a way to bulk-import chrome/FF bookmark exported HTML files.

Maybe use https://pypi.org/project/bookmarks-parser/ or just hand-parse.

[2020-08-24 04:09] srevinsaju opened #44 "Provide an official AppImage"
Although AppImages can be created by other developers, it is best when the application submitted author himself provides the AppImage as it increases authenticity. (stated explicitly in the AppImage upstream clause)

Here is a curated list of tools to ease the process of building AppImages

https://github.com/AppImage/awesome-appimage#deployment-tools-for-python-applications

[2020-08-24 05:42] HarshaVardhanJ commented on #39
@Uzay-G I will be able to update the Docker image to use the python package only after you've updated the package to include the https://github.com/Uzay-G/archivy/commit/2d592a7bee88cb06e0e39558d9df4ac90fc0cdac fix.

[2020-08-24 10:20] srevinsaju commented on #44
Blocked by #32

[2020-08-24 16:55] Uzay-G commented on #41
I pushed a fix at https://github.com/Uzay-G/archivy/commit/01681e8fdd7f4c4e197f6b3f1629c39c2947cf03. Will be in the next release

[2020-08-24 16:55] #41 closed

[2020-08-24 17:10] Uzay-G commented on #39
ill push a release tonight

On Mon, Aug 24, 2020 at 7:43 AM Harsha Vardhan <notifications@github.com>
wrote:

[2020-08-24 17:11] Uzay-G commented on #29
Yes. Ill do it tonight for 0.0.6

On Mon, Aug 24, 2020 at 5:08 AM Harsha Vardhan <notifications@github.com>
wrote:

[2020-08-24 18:29] #27 closed

[2020-08-24 19:29] Uzay-G commented on #39
Alright the new release is up :tada:

On Mon, Aug 24, 2020 at 7:10 PM Uzay Girit <uzgirit@gmail.com> wrote:

[2020-08-25 00:34] dxcore35 opened #46 "OSError: [Errno 48] Address already in use"
[code]

[2020-08-25 04:08] srevinsaju commented on #46
It looks like some other process is running on port 5000, can you restart you computer and try again. Meanwhile, this should be fixed by using random port numbers in the range 10000-18000 where it's uncommon for system processes to use as ports

[2020-08-25 05:10] HarshaVardhanJ commented on #46
If you're running this on Linux, try running
[code]

This should show you which process is running on port 5000. If you wish to(although not advisable), you can kill the process using
[code]

[2020-08-25 05:26] HarshaVardhanJ commented on #39
@Uzay-G Thanks. Will make a commit to the `docker` branch soon.

[2020-08-25 06:32] HarshaVardhanJ commented on #46
Or the port number could be user-configurable similar to the directory in which data is saved. Maybe a variable like `LISTEN_PORT` could be provided.

[2020-08-25 08:57] HarshaVardhanJ opened #47 "Archivy tries to connect to Elasticsearch even though `ELASTICSEARCH_ENABLED=0`"
Archivy tries to connect to Elasticsearch even if the `ELASTICSEARCH_ENABLED` variable is set to `0`, and results in the following error when I try to create a note.
[code]

This happens when `ELASTICSEARCH_ENABLED` is set to either `0` or `1`. The program works as expected only if the `ELASTICSEARCH_ENABLED` variable is unset.

[2020-08-25 09:35] Uzay-G commented on #47
Thanks for finding this! I just fixed it here: https://github.com/Uzay-G/archivy/commit/e49c5ebe6a7cba8222b30087eeef6b580e0dcd34 and pushed to the new release. Update your package for the fix.

[2020-08-25 09:35] #47 closed

[2020-08-25 09:35] Uzay-G commented on #3
Thanks for the advice. I Implemented it here: https://github.com/Uzay-G/archivy/commit/4afa0f1760166798139b1e5397cbdf44d3e71abf

[2020-08-25 09:35] #3 closed

[2020-08-25 09:36] Uzay-G commented on #46
Reopen the issue if it's still not working :smile:

[2020-08-25 09:36] #46 closed

[2020-08-25 09:36] HarshaVardhanJ commented on #47
That was quick! Thanks!

[2020-08-25 09:40] Uzay-G commented on #47
Yeah it's an important bug :smile:

On Tue, Aug 25, 2020 at 11:36 AM Harsha Vardhan <notifications@github.com>
wrote:

[2020-08-25 09:41] HarshaVardhanJ opened #48 "Error when adding note in version 0.0.7"
When I try to add a note, here's the error I get:
[code]

But when I view the Home page, I can see that two notes were created. The notes are being created, but this error is displayed on the page.

[2020-08-25 09:43] Uzay-G commented on #48
what platform are you running this on?

I added something so the file would open when you create a note and it should work in mac, windows and unix. If you're running it on a server it might be a problem though...

[2020-08-25 09:44] Uzay-G commented on #48
Do you have any idea what we should do so it doesn't open in this case?

[2020-08-25 09:46] HarshaVardhanJ commented on #48
I see. That could be it. I'm running Archivy in a container(Docker for Mac) and am accessing it on a Mac.

[2020-08-25 09:51] HarshaVardhanJ commented on #48
I don't have the `xdg-open` program on my Mac. And neither is it present in the container image.
I don't know how else you could open the file in the browser. I'll get back to you on this.

[2020-08-25 09:55] Uzay-G commented on #48
On the mac it should call the `open` command. It checks the platform.

Could you try running this in python:

[code]

This will tell us which platform your computer is on. Archivy uses this to check if it's a mac. If it is, the output should be "Darwin".

[2020-08-25 09:56] HarshaVardhanJ commented on #48
Ah. I see what you mean. The container is built on a base image of Alpine Linux. I'll add `xdg-utils` to be installed. That should fix it.

[2020-08-25 10:01] HarshaVardhanJ commented on #48
I get this error now:
[code]

I'll install `elinks` and try again.

[2020-08-25 10:03] Uzay-G commented on #48
You might not even have an editor on the image.

On Tue, Aug 25, 2020, 12:01 Harsha Vardhan <notifications@github.com> wrote:

[2020-08-25 10:04] HarshaVardhanJ commented on #48
Right. Just figured that out. This feature may not work inside a container. Any thoughts on what to do?

[2020-08-25 10:06] HarshaVardhanJ commented on #48
What about [Trix](https://trix-editor.org)?

[2020-08-25 10:14] Uzay-G commented on #48
Something like that will be good. We will implement a Web editor and an
option for local editing.

On Tue, Aug 25, 2020, 12:07 Harsha Vardhan <notifications@github.com> wrote:

[2020-08-25 10:15] HarshaVardhanJ commented on #48
Sounds good.

[2020-08-25 10:17] HarshaVardhanJ commented on #48
Shall I close this issue for now, then?

[2020-08-25 10:19] Uzay-G commented on #48
Yes i'll close it. Please put your suggestions in https://github.com/Uzay-G/archivy/issues/33 where we've already started thinking about this problem.

[2020-08-25 10:19] #48 closed

[2020-08-25 10:24] HarshaVardhanJ commented on #33
A few other suggestions:
* [Trix](https://github.com/basecamp/trix)
* [Quill](https://quilljs.com/docs/quickstart/)
* [Ace](https://ace.c9.io/#nav=about)

[2020-08-25 10:26] Uzay-G opened #49 "ADD: Support for pdf text extraction"

[2020-08-25 11:19] HarshaVardhanJ commented on #39
@Uzay-G PR #24 is ready to be integrated with the `docker` branch, in my opinion. I've also updated the documentation to reflect the changes so far.

[2020-08-25 12:56] dxcore35 opened #50 "Obsidian app markdown search"
Why you don't join the devs in https://obsidian.md project? All markdown files are fully searchable, but I think you can help them to get the speed up :)

[2020-08-25 15:28] clemux commented on #50
Obsidian does not seem to be open-source, see https://obsidian.md/eula and https://github.com/obsidianmd/

[2020-08-25 16:40] Uzay-G commented on #50
Thanks! But like @clemux pointed out. They're not open source and I doubt they would agree.

[2020-08-26 02:30] HarshaVardhanJ commented on #39
@cktang88 If and when possible, please do take a look at the `docker-compose.yml` and `docker-compose-with-elasticsearch.yml` files in PR #24. It's also available at [this repo](https://github.com/HarshaVardhanJ/archivy/tree/docker). I've tested it locally and it works. Would appreciate some confirmation from your end as well.

[2020-08-26 06:57] HarshaVardhanJ opened #53 "Folders created with special characters get renamed"
### Sequence of steps:

* Created a new folder with the name `Folder%$'` from the UI.
* Tried to delete the folder from the UI(Unable to access the delete icon because the `Expand` link does not work).
* Unable to delete the folder.
* Refreshed the page.
* New folder now shows up as `Folder`(is renamed by Archivy).
* The folder can now be deleted from the UI.

Nothing relevant shows up in the logs

[2020-08-26 16:15] clemux opened #57 "Run long tasks in background"
Some of the work archivy does should run asynchronously from the web server:

 - importing links from external services (currently pocket, more in the future)
 - retrieving a web page's content

Some possible solutions:

## Celery

 - [official website](https://docs.celeryproject.org/en/latest/index.html)
 - [Flask-celery documentation](https://flask.palletsprojects.com/en/1.1.x/patterns/celery/)

[2020-08-26 18:51] clemux commented on #57
Addendum, with celery it would be easy to make the rabbitmq/redis dependency optional and run tasks in the flask process when it is not available.

[2020-08-26 19:04] Uzay-G commented on #57
I'd rather not have to use redis, do you know of any more lightweight alternatives? Maybe we could use threads... :thinking:

[2020-08-26 20:42] Uzay-G commented on #53
Do you think we should not sanitize the special characters? That is one issue, but there is also the problem where deleting is not working. Ill check that out.

[2020-08-26 20:56] srevinsaju commented on #53
I guess we should make the folder names urlsafe. Because a user could add a `/` which would make python think that its a directory

[code]

[2020-08-26 21:20] Uzay-G commented on #53
We're currently using this:

[code]

[2020-08-26 21:20] Uzay-G commented on #53
That one could also work though

[2020-08-26 21:39] cktang88 commented on #39
@HarshaVardhanJ tested locally just now, works for me, thanks!

[2020-08-26 21:44] cktang88 commented on #57
Agree with keeping it simple for now, we could also use Python3's built-in `asyncio` eg. https://guillotina.readthedocs.io/en/latest/training/asyncio.html#long-running-tasks

[2020-08-26 22:22] Uzay-G commented on #57
Yes I think using asyncio is a good idea

[2020-08-26 22:22] #50 closed

[2020-08-26 22:23] Uzay-G commented on #2
Do other people also think this is a useful feature?

[2020-08-26 22:27] #39 closed

[2020-08-26 22:28] clemux commented on #57
I agree!

[2020-08-26 22:30] Uzay-G commented on #35
I'll close this now. Please reopen if you have any other problems.

[2020-08-26 22:30] #35 closed

[2020-08-26 22:37] clemux commented on #53
werkzeug, used by flask, includes [werkzeug.utils.secure_filename](https://werkzeug.palletsprojects.com/en/1.0.x/utils/#werkzeug.utils.secure_filename)

[2020-08-26 22:58] clemux commented on #33
[simplemde](https://github.com/sparksuite/simplemde-markdown-editor) seems more "minimal" than the suggestions above

[2020-08-27 01:25] HarshaVardhanJ commented on #53
@Uzay-G Supposing somebody wants to create two folders, both of which contain special characters as shown in the original post, albeit in a different arrangement, will it not cause a conflict when they're saved on the host?

For example,

`Folder%$'` and `Folder$%' ` would both be saved under the name `Folder` on the host.

[2020-08-27 06:53] HarshaVardhanJ commented on #53
@Uzay-G Just did the following:
- Created a folder with the name `Test%$'`
- Created another folder with the name `Test$%'`.
- Checked the name of the folders saved in the `data` directory. Only one folder by the name `Test` is present.
- Upon refreshing the page, I can see just one folder entry titled `Folder`.

[2020-08-27 11:40] Uzay-G commented on #53
https://github.com/Uzay-G/archivy/commit/64dc1eaa71c060fbf1e090f11158f72e8804ff2e should introduce some fixes to these issues. Could you check if you encounter the same issues?

[2020-08-27 11:56] dxcore35 opened #61 "Inspiration"
Just want to share similar project:https://github.com/CodeOptimist/document-search-engine
[Here is working website.](https://findingseth.com/q/search)

Maybe you can utilize some code from it.

[2020-08-27 12:06] HarshaVardhanJ commented on #53
I think the issues have been fixed. Here's a list of actions taken with the results:

1. Created a folder titled `Folder$%'`.
2. It was saved as `Folder`. The name reflected immediately in the UI. There was no necessity to refresh the page unlike last time.
3. I tried to create another folder titled `Folder%$'`. This wasn't accepted and the message `Directory already exists` was displayed in the t

[2020-08-27 12:52] clemux commented on #2
I could see the value if archivy supported annotations (highlighting, comments), but I can't see the use-case for now, could you elaborate?

[2020-08-27 14:13] clemux commented on #57
It seems that flask and werkzeug don't play nice with asyncio, because werkzeug is blocking by design.
 - https://pgjones.dev/blog/flask-async-quart-sync-2019/
 - https://github.com/pallets/werkzeug/issues/1322

That doesn't mean we cannot use custom coroutines/threading/multiprocessing, though.

[2020-08-27 15:38] clemux commented on #57
https://docs.python.org/3/library/concurrent.futures.html#module-concurrent.futures seems to provide what we need here, any opinions?

https://flask-executor.readthedocs.io/en/latest/ shows how it could be implemented (not necessarily by using that extension directly)

[2020-08-27 15:49] Uzay-G commented on #2
It would be to serve your notes and other stuff as a public wiki other people could access. Like a blog, except instead it would be a public wiki of your notes, bookmarks, etc...

[2020-08-27 16:48] clemux opened #62 "ADD: REST API for managing bookmarks"
It would be useful to add an API to manage bookmarks, for example:

 - `GET /bookmarks` -> retrieve all the bookmarks (with optional filters)
 - `GET /bookmarks/2` -> retrieve bookmark 2
 - `POST /bookmarks` -> create new bookmark
 - `PUT /bookmarks/2` -> modify bookmark 2
 - `DELETE /bookmarks/2` -> delete bookmark 2

In the short-term, the POST endpoint would be most useful, since it would allow

[2020-08-28 02:33] cktang88 commented on #62
+ 1 to this, ideally people would be able to write their own frontends, and this could be frontend-agnostic. Personally I'd prefer React, which makes interactivity a LOT easier.

[2020-08-28 17:28] Uzay-G commented on #62
Often NPM packages can be imported without having to use React or a js backend, but I see what you mean.

[2020-08-28 17:28] #61 closed

[2020-08-28 17:29] Uzay-G commented on #53
I'm not sure, those are the characters that can mess up as part of the directory.

[2020-08-28 17:29] #53 closed

[2020-08-28 17:31] Uzay-G commented on #33
Hmm, simplemde seems nice. Adding support for footnotes with some sort of extended markdown would also be nice.

[2020-08-28 18:44] srevinsaju commented on #33
It looks better than the online Markdown editor provided by reddit. Looks cool

[2020-08-29 04:00] dxcore35 opened #64 "Markdown files not recognized"
I have copied proper markdown files in side project folder. I can see the records but I cannot open the file in Archivy.
I can see only this:

![Screenshot 2020-08-29 at 09 43 28](https://user-images.githubusercontent.com/7279156/91628100-97fc5a80-e9e2-11ea-8753-79b5768165e4.jpg)

[2020-08-29 08:23] HarshaVardhanJ commented on #64
Can you paste the full path of the folder to which you copied the files? Also, which OS are you running this on?

[2020-08-29 09:16] Uzay-G commented on #64
The way markdown files work in Archivy is that each file has a few metadata attributes. Structure of a markdown file:

[code]

I assume the files here don't have that title attribute and so we can't see the title in the ui.

[2020-08-29 10:25] tetraf opened #65 "[Feature] Multi users"
It may be useful to have multiple users in Archivy, for a family service or to use inside a company.
Ideally with external identity providers (LDAP, SAML…).

To go further we could think to have different statuses for bookmarks, like: public, private, shared…

[2020-08-29 10:26] tetraf opened #66 "[Feature] Federation"
Perhaps a little bit ambitious but if we link instances between them we could have a distributed search engine with verified content.

[2020-08-29 10:30] Uzay-G commented on #66
Hmm, this could be quite interesting, but often people might want to keep their data private :thinking:

[2020-08-29 10:31] Uzay-G commented on #65
Indeed, we need to implement login so people can access archivy from a remote server. Linked to https://github.com/Uzay-G/archivy/issues/19

[2020-08-29 10:55] dxcore35 commented on #64
/Users/USER/Library/Application\ Support/archivy/data/

Of course there are no tags, there is no mention of tags in description.... Why you don't make it for file without this prefix title just file name?

[2020-08-29 11:02] tetraf commented on #66
It may be a parameter of the instance or the user profile: bookmarks are public/private by default.

[2020-08-29 11:04] Uzay-G opened #67 "[Important] Testing"
@clemux has tested pocket functionality in the `integration/test_pocket.py` file and I have also tested the models in `unit/test_models.py`.

What parts of the app should we focus on for testing because they are prone to break?

[2020-08-29 11:31] Uzay-G commented on #64
That could work, but the problem is that each markdown file has an `id`, that is how archivy knows to get the fileid `x` when you visit `/dataobjs/id`. This is also in the title of the markdown file.

What we could do is add some sort of bulk import function :thinking:

[2020-08-29 11:37] dxcore35 commented on #64
Bulk function will be perfect! I think many people will rather import files then write them directly in database.
I consider your tool for reading the information, not writing them...

[2020-08-29 11:38] Uzay-G opened #68 "Bulk function for importing non-formatted markdown files"
Would allow user to specify a directory path, where each .md file in it would be converted to a archivy-compliant format.

[2020-08-29 11:38] Uzay-G commented on #64
Moved to https://github.com/Uzay-G/archivy/issues/68

[2020-08-29 11:38] #64 closed

[2020-08-29 11:47] dxcore35 commented on #68
I just want to add that import should be pain free for user. The best is to just copy markdowns into folder, and let the database handle and add the header.

Please consider that tool should be flexible for new content and not rigid, and do not requite any action from user.

[2020-08-29 13:59] clemux commented on #67
I think aiming towards 100% code coverage is a reasonable goal. Speaking of which, could you enable code coverage reports in the CI?

To get there, I would suggest:

- every new feature should be covered by tests
- every bug fix should be covered by tests
- before starting a refactoring, tests should be written to avoid any regression (that's actually why I started the pocket tests)

[2020-08-29 14:01] clemux commented on #19
As a temporary workaround, I would suggest disabling running external programs on the server though an environment variable.

[2020-08-29 14:04] clemux commented on #19
Also, the API I started in #63 could be extended with an endpoint for retrieving and uploading notes. A flask cli command could be used to do something like:
[code]

[2020-08-29 14:22] Uzay-G commented on #68
Alright I think I know a way to do it without user effort.

[2020-08-30 23:14] Uzay-G commented on #68
I recently pushed fixes that allow you to move random markdown files and they will automatically get formatted correctly for archivy and get added to the knowledge base. Will be available on the next release.

[2020-08-30 23:21] dxcore35 commented on #68
I will test it an let you know!

[2020-08-30 23:31] Uzay-G commented on #68
Thanks! @clemux Do you know how to fix the flake8 errors with the regex?

[2020-08-30 23:38] dxcore35 commented on #68
flake8? Im good in regex.

[2020-08-31 05:26] clemux commented on #68
There: https://github.com/Uzay-G/archivy/pull/71

[2020-08-31 07:39] dxcore35 commented on #68
I don't understand the activity there :/

[2020-08-31 07:45] Uzay-G commented on #68
What do you mean?

On Mon, Aug 31, 2020, 09:40 dxcore35 <notifications@github.com> wrote:

[2020-08-31 10:29] srevinsaju opened #73 "Add an annotation / handwriting feature"
While using Archivy on mobile, I felt that a handwriting / annotation feature would be great, and later Archivy could be an open source replacement for Google Keep.

[2020-08-31 11:01] dxcore35 commented on #68
i have check the link, and I don't understand the context of the ticket. The scrip should simply add header, filling the tile from file name... I think this is not difficult to do. And if this works for one file it should work for all files....if not then it is over-engineered :)

[2020-08-31 12:00] Uzay-G commented on #68
Basically what it currently does is if u move a file to the dir, it will be automatically converted to archivy format. I just noticed a bug though where this will only happen if elasticsearch is enabled. I need to fix that

[2020-08-31 12:25] dxcore35 commented on #68
I dont understand your approach... Archivy format? It should be still just plain markdown with header thats it.

[2020-08-31 12:28] Uzay-G commented on #68
Archivy format means the file is structured like this

{Id}-{date}-{filename}.md

And then we have some values in the metadata . That's all I mean.

On Mon, Aug 31, 2020, 14:25 dxcore35 <notifications@github.com> wrote:

[2020-08-31 22:42] Uzay-G opened #74 "Archivy Roadmap"
These are features we're exploring for the release of Archivy 1.0:

- Frontend UI for editing
- Expand data store so users can highlight / annotate content with a nice experience even on mobile
- Login modules so users can access and edit from a remote server
- pdf import + epub

What do you think are important focuses for Archivy that could be interesting to develop? Please share!

[2020-09-01 00:09] dxcore35 commented on #68
I hope metadata are adding standard YAML header.

[2020-09-01 09:36] Uzay-G commented on #68
Yes that's what I mean

On Tue, Sep 1, 2020, 02:10 dxcore35 <notifications@github.com> wrote:

[2020-09-02 06:45] HarshaVardhanJ commented on #74
Login could be handled by either Apache or Nginx as a frontend proxy for authentication. I think it is better to delegate authentication to a web server which will act as a proxy. In any case, when Archivy is deployed as a container, there's generally a proxy deployed for authentication. Thoughts?

[2020-09-02 07:51] godslayer201 opened #75 "Unable to run on local machine even after having all requirements"

[2020-09-02 08:06] HarshaVardhanJ commented on #75
Could you post the output of the following commands?

- `uname -a`
- `which python`
- `which pip`
- `python --version`
- `pip --version`

Also, can you post the output of

- `pip install archivy==0.0.8`

[2020-09-02 09:04] godslayer201 commented on #75
Yes Harsha,I'll run them and check,thank you for the headsup. attaching results.

The first 3 were unrecognized commands,but pip and python displayed my versions(latest). The installation was successful,and i was able to run a production server.

What do you suggest to do next?
Thank you.

[2020-09-02 09:15] HarshaVardhanJ commented on #75
You're able to run the application now?
By the way, are you running this on a Windows system?

[2020-09-02 09:18] HarshaVardhanJ commented on #75
After running the application in the terminal, you should see something like this:
[code]

Now open `http://localhost:5000/` in your browser. You should see Archivy's UI now.

[2020-09-02 10:23] Uzay-G commented on #68
Pushed in the new release :+1:

[2020-09-02 10:23] #68 closed

[2020-09-02 11:18] godslayer201 commented on #75
Works like a charm,thank you very much. will join your discord to learn and contribute!

[2020-09-02 11:18] #75 closed

[2020-09-03 00:01] sakharovaan opened #77 "[Feature] Add syntax highlighting"
like
[code]
becomes

[code]
since you are using the markdown library, this feature could be implemented via https://python-markdown.github.io/extensions/code_hilite/

I could make a PR, if you're okay with this implementation

[2020-09-03 06:48] HarshaVardhanJ commented on #74
@Uzay-G @srevinsaju @clemux Regarding Docker images, how many versions of Archivy do you think should be maintained? Right now, I'm maintaining only the most recent version. I'm guessing once the application reaches a certain level of stability and maturity in terms of feature set, we could provide images of the last 3 or 4 stable versions. Thoughts?

[2020-09-03 07:02] srevinsaju commented on #74
I would like to have this, and considering other open source docker images, they maintain:
* `archivy:latest` : latest stable release
* `archivy:beta`: latest pre release
* `archivy:continuous`: upto date with master (can use Continuous Integration to automatically create docker images and publish them)
* `archivy:*.*` Fixed tag. Once released, no more changes should be made to the existing tag

[2020-09-03 07:34] HarshaVardhanJ commented on #74
That looks good. We could tag the images based on semantic versioning. How many major releases do we maintain?

[2020-09-03 09:30] Uzay-G opened #78 "Brainstorm conversion of multiple formats and extension of current markdown"
I have started working on using pandoc's markdown to extend the current markdown parser. Locally, it now supports inline LaTeX, footnotes and tons of other extra features.

I also wanted to try adding the possibility of importing .epub files. Now pandoc has a converter for this, and it can convert the text but it has a few issues with images and links. Here are those I've encountered:

- Image lin

[2020-09-03 09:59] Uzay-G commented on #77
This is a good idea! We're actually switching to a more powerful markdown parser that supports footnotes, LaTeX and tons of other features. I'll implement syntax highlighting with it :ok_hand:

[2020-09-03 10:47] HarshaVardhanJ commented on #78
I think it would be fine if we didn't convert the EPUB file to markdown. Archivy serves as a knowledge base of sorts which contains a hodgepodge of different files and links. It would be sufficient to display the EPUB file in the browser.

Besides, EPUB is XHTML with CSS and fonts embedded in it. For example, opening the file with something like [Calibre](https://calibre-ebook.com) will show you t

[2020-09-03 11:28] clemux commented on #78
Not an option:

Besides..

I agree, and I think that applies regarding of the format. Markdown is designed for writing documents, it is not a good intermediary representation between two formats.

- web pages: what is the reasoning behind converting them to markdown, only to render them as html+css? Maybe I'm missing something?

- epub documents : they don't need any processing to remove garbage l

[2020-09-03 11:44] HarshaVardhanJ commented on #78
I see. My apologies.

I agree. It would be nice to add a parser of sorts in order to perform indexing and search. And structure information isn't necessary for this.

[2020-09-08 20:11] Uzay-G commented on #78
The problem is that adding multiple formats increases code complexity by quite a bit and I'm not quite sure yet how we should structure things to cope with different formats cleanly.

[2020-09-08 20:12] Uzay-G commented on #78
Any ideas?

[2020-09-09 13:16] HarshaVardhanJ commented on #78
I agree. Looking at the description of what Archivy is supposed to do, maybe importing different file formats isn't such a good idea. Keeping track of EPUB and PDF files falls into the domain of an ebook management application, which Archivy doesn't need to do.

[2020-09-09 15:09] clemux commented on #78
That depends on whether archivy should be a backend for managing, reading and annotating documents, or a web page archiving application.

In any case, I feel like limiting ourselves to web pages for now would be best, until we're comfortable adding a plug-in system for handling other file types in the store.

[2020-09-09 16:12] Uzay-G commented on #78
Yes an extensible plug in system would allow us to add more optional
features without complexifying the code or the ux.

On Wed, Sep 9, 2020, 17:09 Clément Schreiner <notifications@github.com>
wrote:

[2020-09-12 21:30] Uzay-G commented on #43
Saving this library also: https://github.com/FlyingWolFox/Netscape-Bookmarks-File-Parser.

I'll work on this feature once we finish up with some other milestones :+1:

[2020-09-12 21:31] Uzay-G commented on #44
What advantages will the appImage bring compared to the python package AND docker install?

[2020-09-14 16:33] Uzay-G commented on #77
The new release adds support for this :ok_hand:

[2020-09-14 16:33] #77 closed

[2020-09-15 22:50] Uzay-G commented on #17
Working on it:
![random](https://user-images.githubusercontent.com/52892257/93272782-9b4f5e80-f7b6-11ea-8916-beef53bbb377.gif)

[2020-09-16 22:13] Uzay-G opened #86 "Implement plugin system that allows users to extend the way data is parsed and gathered"
Instead of adding code for a pocket integration, a much cleaner approach would be to build a plugin system that allows users to contribute their own modules that can gather and parse data in the way they like.

Linked to https://github.com/Uzay-G/archivy/issues/62 and https://github.com/Uzay-G/archivy/issues/34

[2020-09-16 22:13] Uzay-G commented on #34
Closed to instead follow the approach outlined in https://github.com/Uzay-G/archivy/issues/86

[2020-09-16 22:13] #34 closed

[2020-09-16 22:15] Uzay-G commented on #19
Linked to https://github.com/Uzay-G/archivy/issues/66 as a login system for users to access archivy remotely and https://github.com/Uzay-G/archivy/issues/33.

[2020-09-21 17:58] #17 closed

[2020-09-25 16:58] Uzay-G opened #88 "Brainstorm ways in which Natural Language Processing can be used to imrove the experience with archivy"
Natural Language Processing is the domain of computer science that tries to help computers understand human text.

I think it can be used to make the process of saving and digitalizing one's thoughts and experiences easier - for example by summarizing data, automatically categorizing data - and grouping similar data.

Any ideas in which we can use this powerful science would be interesting :).

[2020-09-25 21:26] Uzay-G opened #89 "Other colour themes (dark)"
Look into the enabling other colour themes.

[2020-09-26 10:11] Mikrm opened #92 "Open notify"

[2020-09-26 10:12] Uzay-G commented on #92
What is this @Mikrm ?

[2020-09-26 10:16] Mikrm opened #93 "500717"

[2020-09-26 10:17] Uzay-G commented on #92
Stop opening spam issues or I will have to block you from the repository.

[2020-09-26 10:17] #92 closed

[2020-09-26 10:17] #93 closed

[2020-09-26 11:52] Mikrm commented on #92
Ya

[2020-09-26 19:31] Minabsapi opened #94 ""OSError: Adress already in use""
I just installed archivy from PIP and launched it for the first time. When I launch it I'm greeted with a long traceback followed by
``OSError: [Errno 98] Adress already in use``

Obviously another application is already using the port archivy wanted. But how can I tell archivy to use another one ? It seems I can't pass any option and there's no configuration I can edit to change this behavior

[2020-09-26 20:27] #62 closed

[2020-09-26 22:49] Uzay-G commented on #94
Alright I'll implement a fix for this to work :+1:!

On Sat, Sep 26, 2020 at 9:32 PM Minabsapi <notifications@github.com> wrote:

[2020-09-27 13:58] rexdivakar commented on #88
Assign it to me i will add in @Uzay-G

[2020-09-27 14:33] Uzay-G commented on #88
What would you like to add @rexdivakar? This is more of a discussion of the features we could add that are related to NLP. Is there something specific you'd like to work on?

[2020-09-27 14:37] Uzay-G commented on #43
Idea to implement once we have https://github.com/Uzay-G/archivy/issues/86. Closing for now.

[2020-09-27 14:37] #43 closed

[2020-09-27 14:39] rexdivakar commented on #88
I can write a function to get the summarised version of the text also may be add in keyword extraction too. Let me know if u have anything specific in ur mind

[2020-09-27 14:40] Uzay-G commented on #88
That would be cool! What would you use? Do you know [spacy](https://spacy.io). It's a really nice and efficient library that I have some experience with so it'd be cool if we could use it.

[2020-09-27 14:55] rexdivakar commented on #88
Yeah I have some experience with spacy so I believe I can give it a shot

[2020-09-27 15:31] dxcore35 opened #95 "Where is the search button?"
**System:** Mac OS, Opera
**Installation:** fresh pip3

![Screenshot 2020-09-27 at 21 59 08](https://user-images.githubusercontent.com/7279156/94368920-da61a600-010c-11eb-8a42-4fb471173bf2.jpg)

[2020-09-27 15:34] Uzay-G commented on #95
When you launch archivy, you need to set `ELASTICSEARCH_ENABLED=1` to specify that you have elasticsearch running so that search works.

For example you could run:
`ELASTICSEARCH_ENABLED=1 archivy`

[2020-09-27 15:34] #95 closed

[2020-09-27 15:44] dxcore35 commented on #95
Brother, who will ever need this GUI without search?

[2020-09-27 15:49] dxcore35 opened #96 "Search is not working"
Screenshot from file you can see word: **Slovo**
![Screenshot 2020-09-27 at 22 16 03](https://user-images.githubusercontent.com/7279156/94369339-27467c00-010f-11eb-8889-3b7dfc232702.jpg)

This is search result, when pressing enter:
![Screenshot 2020-09-27 at 22 16 12](https://user-images.githubusercontent.com/7279156/94369336-2281c800-010f-11eb-8bc2-0cbf9fab35dc.jpg)

There are no results.... elas

[2020-09-27 15:51] Uzay-G commented on #96
Are u sure elasticsearch is running correctly? Also I noticed your other issue, you need to make sure you have specified that elasticsearch is enabled WHEN you create the note or bookmark otherwise it will not be indexed.

If this was not the case, you can for example edit the notes while archivy is running with elasticsearch enabled and it will save them in Elasticsearch.

[2020-09-27 23:51] dxcore35 commented on #96
Yes. the elastic search runs correctly otherwise I cannot run: ```ELASTICSEARCH_ENABLED=1 archivy```
Now even the files name are not modified... Brother I give up with your software. There are so many problems with basic functionality.... I suggest for you to test the software, the basic things should work 100%, before you start to adding new features or even consider to adding them. :(

[2020-09-28 03:40] HarshaVardhanJ commented on #96
@dxcore35 Are you sure that Elasticsearch is up and running? Elasticsearch takes some time to initialise and start up.

Could you post the output of the following command?

[code]

[2020-09-28 05:40] Uzay-G commented on #96
Once again:

This is the first time someone mentions issue with ES.

[2020-09-28 17:35] #96 closed

[2020-09-28 17:36] Uzay-G commented on #94
I just fixed this in the last release (https://github.com/Uzay-G/archivy/commit/6699067dde1520e9b2fbc5617793e44832e1a9b0).

Just reinstall archivy through pip so you have the updated version and then do:

[code]

[2020-09-28 17:36] #94 closed

[2020-09-29 07:29] bislara commented on #89
I would like to contribute to this for Hacktoberfest. Can you assign it to me? I can give a try for this.

[2020-09-29 15:34] Uzay-G commented on #89
Alright! I'll assign you :).

[2020-09-29 15:34] #49 closed

[2020-09-29 15:36] Uzay-G opened #97 "Annotations"
Finding a way to annotate content and store that somehow could be useful to improve the archivy UX.

[2020-09-29 15:37] Uzay-G commented on #73
Replaced with #97 to distinguish between annotations and handwriting.

[2020-09-29 15:37] #73 closed

[2020-09-30 05:35] RushiVachhani commented on #32
I would like to take it up, if you don't mind.

[2020-09-30 06:11] srevinsaju commented on #32
@RushiVachhani would you like to show some iterations of what is your idea on archivy's logo?

[2020-10-05 13:51] srevinsaju commented on #44
Sorry, I missed this comment.

AppImages => one app = one file
* portable (download only once, run it anywhere,  even take it in a USB!)
* small (indeed smaller than the entire docker library)
* delta updates (only download what has been changed between the releases, instead of the entire thing)
* desktop integration (i.e a user does not need to understand how archivy can be run from the command l

[2020-10-05 14:02] srevinsaju commented on #44
This is another reason, why I don't prefer docker

![image](https://user-images.githubusercontent.com/48695438/95089183-81a59500-072c-11eb-98e4-43ada1ac5b2e.png)

130 MB for Archivy's docker image, It should only take 18-20 MB when compiled :)

[2020-10-06 08:56] royquilor commented on #32
Hi, please could you provide 3 keywords that represent the brand or the main target audience? Or shall I share some concepts?

[2020-10-06 10:10] srevinsaju commented on #32
@royquilor we would be glad to hear your idea about archivy :smile:

[2020-10-06 16:33] Uzay-G commented on #32
@royquilor Some keywords would be "knowledge", "archive", and the more visual idea of a "digital garden" for your thoughts

[2020-10-06 16:34] srevinsaju commented on #32
I like the idea of "digita garden" :tada:

[2020-10-08 21:19] Uzay-G commented on #86
I'm not sure how to implement this - but this is the way I'd like to separate things:

- Tasks: These would be recurring events that would pull data. The pocket function could be refactored into one of these.
- Custom commands. Allow users to extend archivy with their own plugins that execute python code they wrote.

The idea would then be to allow users to publish their plugins to a package repos

[2020-10-09 07:27] srevinsaju commented on #86
Perfect. Looks like a really cool and professional idea. Would you like to see plugins in `python` as the primary language? or do you want to support many programming languages?

If you are interested, you can see this https://github.com/srevinsaju/sugaroid/blob/8009ce7b8208521331aef4728db0640bdd35da22/sugaroid/sugaroid.py#L523
Here, I use dynamic plugins, as, "adapters" in my language. This will

[2020-10-09 16:08] Uzay-G commented on #86
Yes it would be in python.

[2020-10-13 21:41] Uzay-G opened #107 "Add config file"
I'd like to think about how we could add a config file so that we could have a better system than just using env variables. Maybe we could also add a "archivy config" command that would open the config file in an editor.

This would be more flexible especially as I add changes related to the login system and permissions that might require more detailed config.

[2020-10-13 21:42] Uzay-G commented on #107
@HarshaVardhanJ @srevinsaju @clemux which formats do you think would be best?

[2020-10-14 05:17] HarshaVardhanJ commented on #107
YAML? If you're going to have multiple users, YAML is pretty readable.

Something like this :

[code]

On Wed, 14 Oct 2020, 03:12 Uzay-G, <notifications@github.com> wrote:

[2020-10-14 07:51] Uzay-G commented on #107
We'd prob use the tinydb thing for the passwords and stuff but yeah something like that would be nice. We could store it in archivy user dir.

[2020-10-14 17:17] Uzay-G commented on #86
A cool idea that could be implemented as a plugin or a built-in feature would be syncing archivy to a git repo which would also allow us to build a mobile client that syncs up to that.

[2020-10-14 17:54] clemux commented on #107
I think YAML is fine, [TOML](https://toml.io/en/) might be a good option too.

[2020-10-14 19:42] clemux opened #108 "Add CLI interface"
We should add a CLI interface for:

 - running archivy locally
 - configuring archivy (once #107 is done)
 - installing external dependencies like pandoc (currently pypandoc downloads and installs the pandoc binary without asking the user)

But also:

 - setup a new plugin (once #86 is done), for example adding a pocket account
 - adding a bookmark (useful for UNIX-like integration of various tool

[2020-10-16 13:12] Uzay-G opened #110 "Think about design"
I'm currently using a very lightweight css library that styles default html tags. Maybe we should think about refining the design maybe with something like material design? Not sure but would like to hear your opinions.

[2020-10-17 22:07] Uzay-G commented on #32
![archivy](https://user-images.githubusercontent.com/52892257/96354339-e7533300-10d5-11eb-8777-f264098c6d74.png)

This is something I was working on today. I might improve it and we could use this.

Thoughts?

[2020-10-18 13:59] thethales opened #113 ""UnicodeEncodeError: charmap codec can't encode character \u21b5""
Greetings !

After installing the application and trying to manually add a Bookmark, an _Internal 500 Error page_ is presentend, and the following error is listed at the command prompt instance running the app:

`"UnicodeEncodeError: charmap codec can't encode character \u21b5"` Thrown at:  [data.py line 70](https://github.com/Uzay-G/archivy/blob/master/archivy/data.py#L70)

Environment Settings:

[2020-10-18 16:18] Uzay-G commented on #113
You're right! That'll fix it. I'll push a commit and make a new release with the change. Thanks :+1:

[2020-10-18 16:50] Uzay-G commented on #113
This should be fixed in https://github.com/Uzay-G/archivy/commit/9f5ee30a6acfef29509db866badb4f257689e7a9. You can do `pip install --upgrade archivy` to update to the new version which should have this fixed :)

[2020-10-18 16:53] #113 closed

[2020-10-18 16:53] #67 closed

[2020-10-18 17:01] Uzay-G opened #114 "Restructure api and views"
We can separate (classic views and routes) AND api routes for more clarity. I'll work on making this change and then documenting the api.

[2020-10-19 02:36] thethales opened #115 "Unable to Expand Directories at Home, when OS Path (SEP) is '/'"
Greetings,

I'm unable to use the _Expand_ button at the Home page due to a javascript parsing error:

`Uncaught SyntaxError: Invalid or unexpected token` [at base.html, line 160 ](https://github.com/Uzay-G/archivy/blob/9f5ee30a6acfef29509db866badb4f257689e7a9/archivy/templates/base.html#L160)  and  [base.html, line 177 ](https://github.com/Uzay-G/archivy/blob/9f5ee30a6acfef29509db866badb4f257689e

[2020-10-19 17:40] royquilor commented on #32
Hi all, here are some ideas. I used a simple leaf shape with a circle like a branch to represent a lowercase a. On version 2, I flipped the leaf to see how it looks vertically, but the letter - a not as obvious.

Concept A: leaf + a + branch circle
![concept-a](https://user-images.githubusercontent.com/2366186/96491440-29958500-123a-11eb-8b19-20a412d0ab4d.png)
![concept-a-green](https://user-image

[2020-10-19 18:22] srevinsaju commented on #32
Looks really professional!!!! @royquilor you are amazing!

[2020-10-19 18:23] srevinsaju commented on #32
I vote for this:
![image](https://user-images.githubusercontent.com/48695438/96496008-57d28f00-1251-11eb-89b3-fc67ba1c9173.png)

:tada:

[2020-10-19 18:43] srevinsaju commented on #32
@royquilor which is the font you have used, in `archivy`, is it an open source font? if yes, can you provide the name of the font. :smile:

[2020-10-19 19:39] royquilor commented on #32
@srevinsaju thanks for the nice feedback. The type is indeed open source:
https://fonts.floriankarsten.com/space-grotesk and the original is Space Mono (Colophon Foundry) which is also free on google fonts. I love both of them :)

[2020-10-19 20:15] Uzay-G commented on #32
Very nice! I agree with srevin that that one is nice! Could you maybe send me a png with a) just the logo without the text and b) the asset of the png srevin sent.

Thank you so much for your great work :+1:

[2020-10-19 20:39] srevinsaju commented on #32
Along with that, I guess @Uzay-G would agree with me, you could please provide the license you would like to provide the artwork to us, i.e (CC-BY-SA 4.0, CC-BY-SA-ND 4.0, CC-BY-NC-ND 4.0, Unlicense, etc), I see you have done a lot of interesting work, so you would know, so you get the rights / copyright of the cool artwork you just created, for archivy, open source :tada:

We would be glad to see

[2020-10-20 19:40] Uzay-G commented on #115
Thanks for finding this! we don't have much testing on windows :smile:. This should be fixed in https://github.com/Uzay-G/archivy/commit/43bfb00a96a04a20ed992ac177e4327892ecc927, where I changed the separator on the backend instead of in the jinja template.

You can upgrade the archivy package for a fix :+1:

[2020-10-20 19:40] #115 closed

[2020-10-22 06:27] HarshaVardhanJ commented on #32
@royquilor This looks great!

[2020-10-23 11:12] Uzay-G commented on #86
Interesting links:

- https://pluggy.readthedocs.io/en/latest/
- https://github.com/click-contrib/click-plugins

[2020-10-25 22:28] Uzay-G commented on #32
@royquilor could you please send us a png of the thing you sent earlier? It would help us go forward even if you haven't decided on a license yet. We can help you more with that on the discord server.

[2020-10-25 23:28] royquilor commented on #32
Hi all, sorry took a while. Here are the png
![logo-icon](https://user-images.githubusercontent.com/2366186/97121884-8355ed80-1719-11eb-8c6e-801eede2d698.png)
![logo-text-lg](https://user-images.githubusercontent.com/2366186/97121885-84871a80-1719-11eb-89d9-c9c53434f755.png)
![logo-text-md](https://user-images.githubusercontent.com/2366186/97121886-84871a80-1719-11eb-9a99-4fbfda8b9869.png)
![logo-

[2020-10-27 01:14] Uzay-G opened #119 "Links between objects"
Could be interesting to have a simple way for users to link between different objects

[2020-10-27 01:40] Uzay-G opened #120 "Improve search result speed"
Ever since I switched to highlighting search results using pandoc -> https://github.com/Uzay-G/archivy/pull/80/files, the latency is noticeably higher for search and it's *somewhat* annoying. On top of that I already have implemented a hack for things to go faster which is quite ugly. I think the bottleneck is the pandoc conversion.

We could go back to the faster JS converter but it does not supp

[2020-10-27 01:41] Uzay-G commented on #13
We need to work on this

[2020-10-27 01:42] Uzay-G commented on #33
We need to find something for this that we can embed into archivy. Something with inplace live preview like Marktext (https://github.com/marktext/marktext) would be amazing.

Marktext is electron-based, so maybe we could try to use it in the browser as it's a very nice editor.

[2020-10-28 19:26] srevinsaju commented on #32
@royquilor a cool tool by creative commons to help decide your license : https://chooser-beta.creativecommons.org/

[2020-10-28 20:26] royquilor commented on #32
Thanks, will check it

[2020-10-31 18:49] #32 closed

[2020-11-01 17:17] Uzay-G commented on #120
Fixed in #124

[2020-11-01 17:17] #120 closed

[2020-11-01 17:18] Uzay-G commented on #119
Maybe we could use a pandoc filter

[2020-11-01 17:18] #110 closed

[2020-11-02 09:56] Uzay-G commented on #33
This is very nice: https://github.com/Jocs/muya-example but I think too big.

[2020-11-02 17:26] Uzay-G commented on #13
If anyone finds a python package that isn't too outdated that could accomplish this, that'd be amazing. I haven't found any yet.

[2020-11-02 20:14] Uzay-G commented on #88
This will be implemented with the plugin system later, unless anyone wants to give it a shot.

[2020-11-02 20:14] #88 closed

[2020-11-10 17:33] Uzay-G opened #126 "Document methods"
This will help for the documentation of #125, as people need to be able to understand the inner API to write plugins.

[2020-11-14 00:50] Just-Insane opened #128 "Integration with Foam?"
Would it be possible to integrate with [Foam](https://github.com/foambubble/foam)?

It is an open-source alternative to [Roam](https://roamresearch.com). It is designed to be a knowledge management tool in which files are stored in markdown, and includes nifty features like backlinks and graph overview.

This request is similar to #50 but for an open-source application.

[2020-11-14 01:09] Just-Insane commented on #119
it would be cool to have support for [backlinks](https://en.wikipedia.org/wiki/Backlink#Wikis), also known as bi-directional links (this is a good overview: https://maggieappleton.com/bidirectionals). Not sure if this should be a new issue or not?

[2020-11-14 01:11] Uzay-G commented on #128
That is an interesting project but it would prove difficult to integrate it into archivy.

However, I do want to work on adding these features to basically auto-group similar content with Natural Language Processing (#88) and add ways for people to create backlinks #119 by simply writing for example `#<id>` like github does.

That'd definitely be useful.

[2020-11-14 01:13] Uzay-G commented on #119
My idea here would be that you'd link from Page A -> B but it would be bidirectional as in when you visited B you'd see the link A -> B. I think this issue is for the same idea as the bidirectional links you bring up.

[2020-11-14 01:15] Just-Insane commented on #119
Ah, yea it was unclear if this was just A -> B, or if B would reference back to A.

[2020-11-14 01:19] Just-Insane commented on #128
My understanding was that Archivy was able to index markdown documents and allow full-text search of them? If that is the case, I don't think it would be too hard to integrate the two projects, I think both projects are working on adding plug-ins?

[2020-11-14 01:28] Uzay-G commented on #128
Foam is specific to vs code and we wouldn't want to directly integrate it into the source, but we'd be happy to help with a plugin that bridged the two.

[2020-11-14 01:30] Just-Insane commented on #128
Yea, that makes sense. I'll look into creating a plug-in to integrate the two. I think it would be a useful integration.

[2020-11-15 10:24] Uzay-G opened #130 "Problem with Docker + ES"
A reddit user recently said:

@HarshaVardhanJ we could easily solve this problem by simply adding `xpack.ml.enabled` -> false in the docker-compose, but then the filtering and quality of search would decrease.

Did you ever encounter this problem when using the docker-compose for ES?

[2020-11-19 17:18] Uzay-G opened #131 "Integrate with Git"
Adding a git integration could add revision history, and enable use of a mobile app through [GitJournal](https://gitjournal.io/)

[2020-11-19 17:19] Uzay-G opened #132 "CLI command to create new admin user"

[2020-11-20 21:29] tonluong commented on #13
there's Bleve for Go
http://blevesearch.com/

[2020-11-20 21:40] tonluong commented on #13
Also take a look at Fuse.js
https://fusejs.io/

Pure JS, browser or app can be indexer

[2020-11-23 14:03] HarshaVardhanJ commented on #130
As per [this issue](https://issues.apache.org/jira/browse/FLINK-14126), this happens when Elasticsearch <= `1.11.0` is run on ARM architecture. They claim to have fixed it in version `1.11.0` and above. I'll try moving to Elasticsearch image to this version.

[2020-11-25 06:45] HarshaVardhanJ opened #138 "Profile icon is not visible in dark mode"
When dark mode is toggled, the profile logo isn't visible as its colour is the same as the background colour in dark mode(black). Given below are the screenshots of the page in light and dark mode(have checked on multiple browsers):

Light Mode :
![Light Mode](https://user-images.githubusercontent.com/34051768/100192297-b5748e00-2f17-11eb-8b1e-a3d589b36032.png)

Dark Mode :
![Dark Mode](https://us

[2020-11-25 07:05] HarshaVardhanJ opened #139 "Unable to delete created folder"
## Description of Issue

After creating a new folder(titled `NewFolder`), I'm unable to delete it from the UI. The folder shows up again after I refresh the page.

## Logs

Given below are the logs pertaining to this error:

[code]

[2020-11-25 08:03] Uzay-G commented on #138
Good catch but this was fixed in #134. Should be good on the next version :+1:

[2020-11-25 08:03] #138 closed

[2020-11-25 08:04] HarshaVardhanJ commented on #138
Alrighty. 👍

[2020-11-25 08:37] #132 closed

[2020-11-26 06:25] HarshaVardhanJ opened #143 "Error message when listing plugins on Web UI"
## Steps

* Installed `archivy_hn` plugin. (`pip3.9 install archivy_hn`)
* Started Archivy. (`archivy run`)
* Logged in.
* Clicked on `Plugins` link.
* Page shows `hn-sync` in list of plugins.

![List of plugins](https://user-images.githubusercontent.com/34051768/100314928-b8d24d00-2fdd-11eb-81e2-fee24dbf9e76.png)

This generates the following error message in the logs:

[code]

Also, what command

[2020-11-26 19:32] Uzay-G commented on #143
I'm really not sure - everything seems to be working fine but there's an error for some reason...

[2020-11-27 17:54] Uzay-G commented on #139
Was this with an up to date version?

I can't seem to replicate this issue...

[2020-11-27 19:04] #143 closed

[2020-11-27 19:45] #33 closed

[2020-11-27 22:22] Uzay-G commented on #139
Thanks for detecting this.

Fixed in https://github.com/archivy/archivy/commit/2df3a4a7dcaef308ee0b517a98529de245f44aa4

[2020-11-27 22:22] #139 closed

[2020-11-27 22:33] Uzay-G commented on #128
I'll close this for now.

[2020-11-27 22:33] #128 closed

[2020-11-27 22:34] Uzay-G commented on #19
#137 contributes immensely to this, and #131 will be the final step.

[2020-11-27 22:34] Uzay-G commented on #108
Completed :)

[2020-11-27 22:34] #108 closed

[2020-11-27 22:35] Uzay-G commented on #114
Fixed in https://github.com/archivy/archivy/pull/116

[2020-11-27 22:35] #114 closed

[2020-11-27 22:36] Uzay-G commented on #126
Fixed in #127

[2020-11-27 22:36] #126 closed

[2020-11-27 22:38] Uzay-G opened #147 "Improvements to general Archivy UI"
Things that could be improved

- [ ] tree view is not ideal, clunky and too many clicks to delete / create new dirs. Also refactor speed here so entire tree is not loaded on each page.
- [ ] creation of notes / bookmarks is tedious, and picking a `path` is far from perfect.
- [ ] bookmarking is also tedious, maybe a bookmarklet / extension for this would be better.

[2020-11-29 18:52] Uzay-G commented on #13
Fuse could be nice.

[2020-12-04 20:35] Uzay-G opened #150 "Brainstorm better way to run archivy"
Simple `archivy run` is good for running the app locally, but we should include docs / information on how to deploy it in production and see what would be ideal.

[2020-12-04 20:46] Uzay-G commented on #150
https://flask.palletsprojects.com/en/1.1.x/deploying/#deployment

[2020-12-04 20:48] Uzay-G commented on #150
Gunicorn seems like a nice option.

[2020-12-04 21:37] Uzay-G opened #151 "Security Issues with Escaping"
Pandoc does not sanitize the html output from its converter making this system vulnerable to XSS.

However, it's difficult to find solutions that preserve its powerful markdown format.

We could rule that archivy is meant to be used on a personal basis, in which case XSS would not be a concern since only the person hosting would input data.

I'm really not sure as I think the current format is nic

[2020-12-05 22:48] Uzay-G opened #152 "ADD: Helper command to auto-generate plugin directory with structure"

[2020-12-05 23:17] Uzay-G commented on #86
Related to https://github.com/archivy/archivy/issues/131, I was wondering how we could make this system more flexible.

We could register "events" where plugin code is called. For example, whenever there is a file change on the watcher, we could register an event and our git plugin would commit the change.

I'm not sure how we should implement this.

One option would be to transform the yaml confi

[2020-12-06 10:17] #107 closed

[2020-12-12 23:39] #151 closed

[2020-12-13 19:02] Uzay-G opened #156 "Testing for search"
Search is currently neglected in the tests, because of a certain difficulty in testing Elasticsearch, but could be useful to take care of this.

[2020-12-22 13:11] Uzay-G commented on #13
This is pretty nice but it's also kind of limited: https://lunr.readthedocs.io/

[2020-12-27 12:35] Uzay-G commented on #147
I am thinking of removing the `description` attribute. Does anyone find this useful?

[2020-12-31 10:50] srevinsaju opened #165 "add a plugin command"
Add a plugin command that would automatically install the plugin by the bundle id

[2020-12-31 15:04] Uzay-G commented on #165
Do you mean the package name - like `pip3 install archivy-git`

[2021-01-01 16:09] Uzay-G opened #166 "Fix duplication in front-matter and filename"
There is a duplication for some attributes of the frontmatter and the file title:

Eg:

- `path`
- `id`

These can be derived from the location / filename of the object and could create conflicts.

[2021-01-02 08:17] nandantumu commented on #74
Sometimes webpage formatting can have an impact on the way the content looks. Maybe a more robust webpage capture could be on the roadmap? Something like this: [HTTrack](https://www.httrack.com/)

[2021-01-02 11:48] Uzay-G commented on #74
Hmm definitely something to look into. I'd like to find a tradeoff between simplicity and speed and the quality of the formatting.

[2021-01-02 11:52] Uzay-G opened #168 "Improve tag functionality"
Currently, tags are very limited - left more as a functionality the user can script around then a feature archivy embodies.

Features to add / think about:

- #119
- tag view to see data with specific tags
- rethink use of tags:
  It could be more interesting to have a structure where you embed the tags in the content like this: `I went to a #computer-science event ...` and this would be tagged `c

[2021-01-02 11:53] Uzay-G opened #169 "Brainstorm webpage archival"
Could be interesting to think about how pages are archived and the flaws in our approach.

Initiated by https://github.com/archivy/archivy/issues/74#issuecomment-753446569

[2021-01-02 13:49] laundmo opened #170 "Do not use app.run in production."
as [per the flask docs](https://flask.palletsprojects.com/en/1.1.x/deploying/)  and the warning that should be shown when running, you should not use the development server in production which is what `archivy run` will start.

the development server is very insecure, has a low performance and of generally bad. it should only run when actually developing the app.

[2021-01-02 14:05] Uzay-G commented on #147
Fixed in #161

[2021-01-02 14:05] #147 closed

[2021-01-02 14:12] Uzay-G commented on #170
This is true.

Do you have any solutions for running that wouldn't have to include another dependency like gunicorn?

Otherwise I will document this and suggest ways to run it in production - with links to webserver options.

Ideally there would be a native python dependency with which the `archivy run` could load a secure and performant webserver.

[2021-01-02 14:25] Uzay-G commented on #170
We could use gunicorn https://github.com/benoitc/gunicorn/issues/91

[2021-01-02 19:38] laundmo commented on #170
i personally use this docker container: https://github.com/tiangolo/meinheld-gunicorn-flask-docker

there is no way to run flask without another dependency. it just doesn't support that. You could see if Quart works with this, its a framework with the same API as flask.

[2021-01-02 21:18] srevinsaju opened #172 "Render archivy knowledge map"
A candy feature, interconnect different things on the knowledge base, helps us to visualize the second brain. It is not a productive feature, but it would surely attract a lot of users. Think of it like, 'cloudarchivy' similar to worldcloud,

something like this:

![image](https://user-images.githubusercontent.com/48695438/103466796-331e8b80-4d59-11eb-959b-e42934cf9711.png)

[2021-01-03 00:28] Uzay-G commented on #172
Definitely, we need to implement #168 and #119 first to have a working tag setup to generate that type of cloud.

[2021-01-03 00:48] #170 closed

[2021-01-03 06:23] srevinsaju commented on #172
Cool!

[2021-01-03 16:25] srevinsaju opened #173 "Deal with minified JS."
Can we add a bootstrapping command to `archivy init` which would automatically download the latest minified JS to the directory? What do you think?

Moving to another issue.

_Originally posted by @srevinsaju in https://github.com/archivy/archivy/issues/171#issuecomment-753641430_

[2021-01-03 16:38] srevinsaju commented on #173
As long as nothing is bundled, we do not have to worry about LICENSING. So, the best way should be to download them on user end.

We should not use `npm`. `npm` is not supposed to be used in web browsers. On July 4, 2020: I and @diogoscf had a conversation about using `npm` modules in web browser:

[code]

Alternative would be, to use `npm` to install all libraries and use webpack, or snowpack to

[2021-01-03 16:50] Uzay-G commented on #173
I'd rather not have npm as a part of the dev process. Also downloading the files during `archivy init` might not be a good idea and I'd rather not make requests to download files like this on the user end.

What could work is to `curl` the files in the gh action that deploys the package and then they would be saved but that also doesn't really solve anything.

Your problem with the vendoring is li

[2021-01-03 16:57] srevinsaju commented on #173
Yea, agreed. I am not a fan either.

Why not? What are the disadvantages?

Quite the same.

Licensing is one of the problems. `git` is also very bad at tracking minified files.

[2021-01-03 17:01] Uzay-G commented on #173
We'd have to explain that we're downloading these js assets because gathering / downloading files onto a user's system is otherwise a bit shady - and I'd rather not do that.

No because this way the user has no interaction with the consequences of this problem and all they have to do is install the package. However, I'm not sure if in this case we still suffer from licensing issues if we include t

[2021-01-03 17:06] srevinsaju commented on #173
Yes, we need to explain them. There is nothing wrong.

I strongly do not suggest a CDN either, as it will matter the privacy.

Oh, you mean... adding the minified js or css into the final `.whl`? That makes it no different. As you said, the licensing issue will be there. Perhaps, as a first step:

- [ ] List the third party libraries (not from pypi), bundled in archivy
- [ ] List the licenses of e

[2021-01-03 17:15] Uzay-G commented on #173
- Katex - MIT
- Highlight.js - BSD-3 Clause license
## Packages for the parser
Most of these are quite small, providing minor functionality
- [markdown-it-texmath](https://github.com/goessner/markdown-it-texmath) - MIT
- https://github.com/markdown-it/markdown-it @license MIT
- https://github.com/markdown-it/markdown-it-footnote MIT
- https://github.com/valeriangalliat/markdown-it-anchor/ unlicens

[2021-01-03 17:19] srevinsaju commented on #173
Ah, we should document this somewhere for transparency. Apart from that, on the bright side, most of the third part libs you have chosen is MIT license, which adheres to archivy's license, which is also MIT. As for fixing the licensing, adding plain text of BSD-3 Clause License and Unlicense nearby their respective minified js / css would solve it temporarily.

[2021-01-03 17:22] srevinsaju commented on #173
What about third party CSS? Do we use them?

[2021-01-03 17:23] srevinsaju commented on #173
Just realized that, there is no need for adding `Unlicense`'s plain text LICENSE, as its compatible with MIT. BSD-3 is the only sad one :thinking:

[2021-01-03 17:25] Uzay-G commented on #173
We use one component of the MIT-license https://github.com/primer/css library for styling the markdown rendering.

Otherwise there is a syntax highlighting thing theme css that is part of highlight.js - so also MIT

[2021-01-03 17:25] Uzay-G commented on #173
*Sorry it might not be MIT then - but BSD-3

[2021-01-03 17:28] srevinsaju commented on #173
ah, so adding [this](https://github.com/highlightjs/highlight.js/blob/master/LICENSE) to your repo should fix the licensing issues

[2021-01-06 15:09] cannibalox commented on #168
maybe nested tags / hierarchical tags like: `#code/python` (or `#code.python`) ?
similar to Bear, Obsidian, DevonThink, Tiddlywiki.

[2021-01-11 04:15] balki commented on #13
https://xapian.org/

[2021-01-12 22:33] srevinsaju opened #176 "l10n and i18n for Archivy"

[2021-01-12 22:42] srevinsaju opened #177 "Show confirmation before delete action"

[2021-01-15 12:23] #19 closed

[2021-01-15 12:24] Uzay-G commented on #131
Fixed with [archivy-git](https://github.com/archivy/archivy-git)

[2021-01-15 12:24] #131 closed

[2021-01-15 12:25] Uzay-G commented on #130
@HarshaVardhanJ someone else has been having a problem with this, could you check the discord server, they asked a question there. I think the docker setup isn't up to date.

[2021-01-16 14:01] ygaeon opened #179 "New install escaping home folder"
Have installed archivy in a venv and started it for the first time.

Browsing to the "http://....:5000/?path=" link and clicking the left navigation menu "root"  the url change to "http://....:5000/?path=/".
This allows archivy to load and displays the root file system, browsable.
Seems not right..

[code]
Config:
[code]

[2021-01-16 14:06] Uzay-G commented on #179
Oh wow thanks for reporting this. I hadn't tested this thoroughly enough and didn't see. I'll fix it quickly and thanks again.

[2021-01-16 15:18] ygaeon opened #180 "Creating subfolders broken"
New install.

- Using the UI to "Create sub directory" `Servers`.
- The "root -> Servers" is displayed on the top and a corresponding folder is created in the USER_DIR folder.
- I continue to create another sub directory `test`.
- Now "root -> Serverstest" is displayed on the top and a corresponding folder "Servertest" is created in the USER_DIR folder.

**Expected result:**
I expected a folder to

[2021-01-16 16:44] Uzay-G commented on #180
Ok this should be fixed in the commit I just pushed. I'm about to make a new release with the fixes for this and the other issue.

[2021-01-16 16:44] #180 closed

[2021-01-16 17:12] Uzay-G commented on #179
Alright should be fixed in the new release. Check it out!

[2021-01-16 17:12] #179 closed

[2021-01-16 17:12] Uzay-G commented on #179
You can update with `pip install --update archivy`

[2021-01-18 17:03] Uzay-G commented on #177
This is a good idea.

[2021-01-19 17:48] Uzay-G commented on #173
Where do you think I should add it?

[2021-01-19 17:49] Uzay-G commented on #165
I don't understand what it would do?

[2021-01-19 18:58] srevinsaju commented on #165
[code]

[2021-01-21 17:40] Uzay-G commented on #2
This can and will be focused on as a plugin, not as part of the source, so I'll close the issue for now.

[2021-01-21 17:45] #2 closed

[2021-01-21 17:45] Uzay-G commented on #173
In the file structure.

[2021-01-21 17:45] #86 closed

[2021-01-21 17:47] srevinsaju commented on #173
I would say, into https://github.com/archivy/archivy/tree/master/archivy/static

[2021-01-21 17:53] Uzay-G commented on #74
## Roadmap for future versions

This is only a **draft**, and ideas or suggestions are welcome.

## v2.0

* [ ] More lightweight and simple search alternative #13
* [ ] Security Improvements:
   * [ ] Rate limiting
   * [ ] Think about password validation
   * [ ] Email recovery
* [ ] More full-featured distribution methods (mobile, desktop, etc...)
* [ ] Develop archival process #169
* [ ] Possib

[2021-01-21 17:58] Uzay-G commented on #173
Good idea, I put them there :+1:

[2021-01-21 17:58] #173 closed

[2021-01-21 17:59] srevinsaju commented on #173
Perfect

[2021-01-21 21:34] lrich opened #181 "Login not working"
Hi

I Installed archivy in a virtual environment with gunicorn and flask

After setting up a service, and nginx, I can see the login page using my URL OK

I set the admin uname and passwword during archivy init, however I can't login

I noticed the db.json file in my /.localshare/archivy directory contains the password I created

This is not the same folder as my virtual environment - do I needed

[2021-01-21 21:48] Uzay-G commented on #181
What do you mean by virtual environment, a python virtual environment?

[2021-01-21 21:49] Uzay-G commented on #181
Like `venv` ? If you tell me what software you used for the virtual environment, I can try and debug the problem :)

[2021-01-22 15:11] lrich commented on #181
Hi..Thanks for helping! Here are the steps ...

Using AWS EC2 Ubuntu

- Installed nginx
https://www.digitalocean.com/community/tutorials/how-to-install-nginx-on-ubuntu-18-04

sudo apt update
sudo apt install nginx

sudo ufw app list

sudo ufw allow 'Nginx HTTP'

systemctl status nginx

- Flask, Gunicorn and Nginx
https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with

[2021-01-22 16:38] srevinsaju commented on #181
@lrich

can you try
[code]

[2021-01-22 17:06] srevinsaju commented on #181
I have got archivy working with the following steps, if followed properly, you are likely to get archivy working

[code]

[code]

[code]

Now make changes to nginx configuration, add this to your nginx configuration
[code]

[code]

Now, login as archivy user again
[code]
Navigate to your domain on a browser
Verify that archivy is up, and can be logged in successfully.

If you reached so far, let m

[2021-01-23 13:43] Uzay-G opened #184 "Move webserver code from __init__ to cli.py"
Some of the code in `__init__.py` is only useful to prepare the webserver, and should be moved to the `run` command in `cli.py`. I'm not sure what would be the best way to do this, but it should be quite simple and might increase latency for non-web related commands.

This is the code that could be removed:
https://github.com/archivy/archivy/blob/b6fc3b25c4e66a0845219a537cec3d4adb31e5fe/archivy/__

[2021-01-23 13:43] Uzay-G commented on #184
I'd like to hear your opinon on this @srevinsaju

[2021-01-23 13:49] srevinsaju commented on #184
I agree. This would be a great improvement. I actually, would say that the `__init__.py` should actually not contain any specific code. But, we can start little, and move everything to their respective places, and not keep a lot of stuff on `__init__.py`. This would be a great improvement overall. Thanks

[2021-01-23 13:55] srevinsaju commented on #184
I have a few commits on my local branch, it tries to make archivy more OOP, but I was not able to complete it. Would you like to take a look?

[2021-01-23 13:55] Uzay-G commented on #184
Ok

[2021-01-23 13:59] srevinsaju commented on #184
I commit everything which was not staged on https://github.com/srevinsaju/archivy/tree/develop as a last commit, which is a bit huge. I dunno if it could help, but you know better, if its a small thing which needs a fix. Let me know too. (PS: it doesnt work out of the box yet)

[2021-01-23 14:01] Uzay-G commented on #184
Whoa that is a large diff :sweat_smile:

[2021-01-23 14:05] srevinsaju commented on #184
yea, :sweat:

Some notable commits, which could improve archivy would be
* Move archivy base to flask's blueprint object: https://github.com/archivy/archivy/commit/e023886135572c269b2b336648671817bf559243

* Cleanup `archivy/__init__.py`:
https://github.com/archivy/archivy/commit/7cdc1405e0a9dabd0bca28ec6dcc397484f4fb5b

* Update requirements
https://github.com/archivy/archivy/commit/ffb820bcd44ba

[2021-01-31 13:10] Uzay-G commented on #181
Did this work for you @lrich ?

[2021-01-31 13:11] Uzay-G opened #188 "Modularize html templates"
Would be useful for making the code cleaner and also for the development of an Archivy static site generator.

[2021-02-01 17:44] Uzay-G commented on #89
The redesign I implemented kind of removed the dark theme because the designs weren't compatible, but it'd be good to look into this again.

[2021-02-02 11:03] erri120 opened #189 "Add base path override option"
Base path override option is useful so you can put archivy behind a subpath when reverse proxying.

[2021-02-02 14:53] lrich commented on #181
Hi

Tried the code and still no go. Unfortunately, I have to put this all on hold for other projects, may get back to it later and try again.

Thanks for your help!

[2021-02-02 14:59] hchasens commented on #130
For posterity, I'm referencing #13 here (migration away from Elastic).

[2021-02-02 15:54] pirate commented on #13
We use Sonic over at ArchiveBox and it's served us well so far https://github.com/valeriansaliou/sonic, we also use ripgrep as a fallback for people who don't want to go through the trouble of setting up a long-running search backend. We tried Lunr and ElasticSolr and didn't have a great experience (the indexes were too large and unwieldy for big archives) but YMMV.

[2021-02-02 16:00] pirate commented on #57
We're about to do this refactor on ArchiveBox too, we're looking at theses 2 queue systems primarily:

- https://github.com/coleifer/huey (supports SQLite as the backing store)
- https://github.com/Bogdanp/dramatiq (requires Redis/RabbitMQ)

There are also adapters that link them to Flask I think (I know there are adapters for Django, should be easy to adapt if no flask-specific ones).
The reason

[2021-02-02 17:15] Uzay-G commented on #189
Do you mean for the data directory, or for the config file?

Because you can directly edit the `~/.local/share/archivy/config.yml` file to change the data directory.

[2021-02-02 17:20] Uzay-G commented on #13
Hmm I'll definitely check these out, and I've actually thought about using ripgrep before, does it work well?

[2021-02-02 17:21] Uzay-G commented on #57
Thanks for the suggestions!

Yes I'd definitely loved to collaborate, and I remember your comments on the post I made about Archivy on Hacker News, back in August.

Your work with ArchiveBox is really cool :)

[2021-02-02 17:22] pirate commented on #13
Yeah, it's great on SSDs, not so great on HDDs. It's probably the most bang-for-bug minimalist search you can do since there's no indexing step, and you can install it easily via package manager on pretty much every OS, which is a stark contrast from something like elasticsearch/sonic where you have to set up a whole search backend.

[2021-02-02 17:41] erri120 commented on #189
Base path override as an URL base path so the application is at `/something/` instead of `/`.

I'm using Caddy for reverse proxying and currently have archivy on a subdomain because it has problems when under a subpath.

[2021-02-02 17:54] Uzay-G commented on #189
Ohhh I see what you mean :thinking:. This could be a good idea indeed.

[2021-02-02 19:11] pirate commented on #57
Ah yeah sorry I forgot to follow up after I initially commented on HN, got swamped with work. I'll join your discord and we can continue the convo there :)

[2021-02-02 20:22] Uzay-G commented on #57
Cool!

[2021-02-03 01:50] mike741 opened #190 "create subfolder not working"
Environment: running on windows 10, fresh installation of archivy & python, logged in as admin

Issue: Creating subfolders "randomly" stops working. After quickly creating a few folders, all of which showed "created successful" message, only a portion were actually visible. In the server console I see the following error, I am not sure if its related as it doesn't show up every time:

[SOLVED] the

[2021-02-03 05:28] BrianGilbert opened #191 "Please implement way to rename folders and notes"
Not 10 minutes in, and I already wanted to change a folder name that contains notes already.
Renaming of folders and notes would be ideal. It would be great if Archivy allowed you to do this at some stage in the future.

Will things break if I rename the folder on disk and restart archivy?

[2021-02-03 05:35] BrianGilbert opened #192 "Request: Improve page title in browser"
I suggest updating the page title to indicate the location of the note in addition to the note title, by traversing the breadcrumb eg.

![Reading Material - Archivy 2021-02-03 16-33-43](https://user-images.githubusercontent.com/114017/106703084-9b54db80-663d-11eb-89dd-4d440cf92e17.png)

Page title would be something like :
`Reading Material/House/Making - Archivy`

[2021-02-03 05:38] BrianGilbert opened #193 "Request: Implement logout method"
If I use Archivy from a shared computer I'll probably want to log out afterwards so others can't see/edit my notes, I can't see a way to do this at the moment?

[2021-02-03 05:43] BrianGilbert opened #194 "Sort folder tree alphabetically"
![Home - Archivy 2021-02-03 16-44-12](https://user-images.githubusercontent.com/114017/106703806-17035800-663f-11eb-9a19-b79845080566.png)

As I add more and more folders and subfolders, finding them will become very difficult without some form of logical sorting in the tree, I see they are Alphabetical in the main area of the page and posit this may make sense in the tree as well?

[2021-02-03 05:52] BrianGilbert opened #195 "Notes Usability Suggestions"
- When creating a new note, open edit view by default
- Save function is hard to find (and I'm a web developer)
  - suggest adding a save button outside of editor WYSIWYG toolbar
  - or, having hide editor save by default (may cause unwanted edits though)

[2021-02-03 05:53] BrianGilbert opened #196 "Bookmarklet has wrong protocol when using a revers proxy with https"
I dragged the bookmarklet to my toolbar, and it has the Archivy domain as http instead of https as I am accessing in my browser, I was able to fix the saved bookmarklet by editing it's properties and updating to https.

[2021-02-03 05:56] BrianGilbert opened #197 "Thanks for Archivy"
Despite me having already created a bunch of tickets, I just wanted to say thanks, I already love it!

I've created the tickets because I already care about Archivy ;)

[2021-02-03 09:32] hexylena commented on #169
If it helps, I've really liked WARC in the past for this:

- https://www.loc.gov/preservation/digital/formats/fdd/fdd000236.shtml
- https://github.com/webrecorder/warcio

But they're not super easy to capture unfortunately.

[2021-02-03 09:50] questor opened #198 "possibility to add scraper plugins"
would be cool to have custom scrapers for certain domains, for example if the url is a youtube video download that video via a custom tool or if it's a github url clone the project.

this request is not about the plugins themself but the needed changes in archivy themself to filter urls and send them to specific plugins when they registered themself as extractors.

when the plugin automatically ad

[2021-02-03 12:41] Uzay-G commented on #197
Thanks for the kind words! Don't worry about the tickets, suggestions are
always welcome. I'll start checking things out tonight :)

On Wed, Feb 3, 2021, 06:56 Brian Gilbert <notifications@github.com> wrote:

[2021-02-03 17:42] #130 closed

[2021-02-03 18:22] #197 closed

[2021-02-03 18:23] Uzay-G commented on #190
Hmm this isn't the correct behaviour, I'll fix this so the directory appears :)

[2021-02-03 18:50] Uzay-G commented on #190
Ok just fixed this in https://github.com/archivy/archivy/commit/0bb3294a3125d591c71e33ba51c6e6039cfe1a50. Will be in the next release :)

[2021-02-03 18:50] #190 closed

[2021-02-04 03:35] dstar4138 commented on #74
Minor suggestion for the v3.0 milestones; you may be able to leverage something like [Authelia](https://www.authelia.com/)?

[2021-02-04 07:49] egel opened #200 "Dockerization plan"
Hi, first I want to say this is a great project 🙇

My question is about possible dockerization. Is this planned? Maybe I could help with it?

I am asking because docker is a basic part of my local NAS drive, and docker images are the easiest way to deploy and run the project in long term scenario.

[2021-02-04 07:51] egel commented on #200
I found the correct project here https://github.com/archivy/archivy-docker

closing

[2021-02-04 07:51] #200 closed

[2021-02-04 18:37] Uzay-G commented on #74
It looks nice, but would probably be too big of a dependency / setup for self-hosting archivy.

[2021-02-04 19:00] Uzay-G commented on #198
Hmm that's definitely a good idea, I'll have to think about it :smile:

[2021-02-04 19:16] Uzay-G commented on #194
Good idea, I planned to do this but just forgot! Fixed in https://github.com/archivy/archivy/commit/fa1d9588d1e0925cfdb02b837f187bd1ffa1b565 and will be in the next release :)

[2021-02-04 19:16] #194 closed

[2021-02-05 04:09] jsnfwlr opened #202 "Archivy doesn't redirect to the HTTPS addresses correctly when running behind a Traefik reverse proxy"
I can go to https://archivy.example.com and get the login page but when I fill in the data it takes me to http://archivy.example.com

The same goes for adding folders, pages/notes etc

[2021-02-05 04:11] jsnfwlr commented on #202
Probably the same problem behind #196

[2021-02-05 10:32] questor commented on #198
looking at it, there are two ideas in this proposal, one for custom scrapers and one for dynamic content creation based on stored pages with a specific tag.

[2021-02-08 03:50] ventusff opened #203 "[Feature request] support for richer .md content tags / scripts etc."
See this example page: https://ventusff.github.io/blog/2021/showcase/

Some requirements included I can think of:
- support html tags: `<u>`, `<br>`, `<details>`, `<summary>` etc.
- inline maths
  - automaticly decide whether inline or display math when using the same `$$...$$` deliminator ?
- support `mermaid` flowchart rendering. (this I think could be implemented as a plugin, since it's not pop

[2021-02-08 04:01] ventusff commented on #203
How are the `.md` files being rendered in `archivy`?
I think maybe `archivy` could use some common `.md` renderer, like `kramdown`.
Or, maybe some plugins could be developed for choosing different `.md` renderers, like in `vscode`.

[2021-02-08 04:43] AikenH opened #204 "Request: Add the option of formatting with utf-8"
When I try to format the local `md`, the following error message appears:

- `'gbk' codec can't decode byte 0x9a in position 118: illegal multibyte sequence` ;

According to my knowledge, it looks like  the file is opened in text mode with a "gbk" encoding.
Some Unicode characters that can't be represented in “gbk”.

[John Machin_ StackOverlow](https://stackoverflow.com/questions/3218014/unicodeen

[2021-02-08 19:26] mrmaxguns commented on #74
Image uploads would be an awesome feature :+1: Editing tags would be awesome; so would the ability to internally link between the files.

[2021-02-08 19:32] Uzay-G commented on #203
Archivy uses the [markdown-it](https://github.com/markdown-it/markdown-it) parser. It works with a system of plugins for new functinality, we could add some if people find them useful.

I don't understand what you mean for math, Archivy already supports inline KaTeX rendering.

However I think generally being able to script in additional parsing (on a user side, with plugins for example), would be

[2021-02-08 19:35] Uzay-G commented on #196
Hmm, I'm really not sure how I can fix this and #202.

:thinking: I'll have to research this a bit more :)

[2021-02-08 21:34] mrmaxguns commented on #74
I bodged together a short shell script to deal with images and to run archivy locally, while image uploads aren't implemented:

[code]

(Assuming all images are at `ArchivyImageContent`)

[2021-02-08 22:45] FlipEnergy commented on #196
Seems like the flask config variable [PREFERRED_URL_SCHEME](https://flask.palletsprojects.com/en/1.1.x/config/?highlight=server_name#PREFERRED_URL_SCHEME) could be leveraged here. Have it as an optional config setting for Archivy which defaults to http and allow for us to set it to https. May not work but perhaps worth looking at.

[2021-02-09 01:48] ventusff commented on #203
Hi, thanks for the information!
Sorry I didn't do much code digging into the repo before, but now I see where the renderer and math is defined.

Generally, I think many editor and renderer configs which are hard-coded now could be added to the config file.

### As for inline math:

What I mean is adding an easy-to-use config to change the `delimiters` option here
https://github.com/archivy/archivy

[2021-02-09 22:00] Uzay-G commented on #193
What do you think of something like this:

![image](https://user-images.githubusercontent.com/52892257/107434107-95259a00-6b2a-11eb-8216-1e540ce901ae.png)

(On the profile page)

[2021-02-09 22:14] Uzay-G commented on #192
I'm not sure how useful this would be, considering the title should already make things pretty distinctive. However, this issue prompted me to add a title for folder viewing, because the title for the folder page was always `home` (https://github.com/archivy/archivy/commit/f1cb25bf7e87f8ceb621e74d3229ef0ea51faeba)

[2021-02-09 22:14] Uzay-G commented on #191
Nothing bad will happen if you rename folders or note titles on disk, but yeah this should def be implemented :thinking:

[2021-02-09 22:19] Uzay-G commented on #191
I'll put this as high priority :)

[2021-02-09 22:20] Uzay-G commented on #195
Do you think it would work to give it a more prominent position in the toolbar and rename it to save / unsaved ?

[2021-02-09 23:09] BrianGilbert commented on #195
@Uzay-G I think the toolbar icons are generally too small, and also missing things like lists.

Your using Easy MDE, but the icons are a lot larger on the demo site https://easy-markdown-editor.tk/ can you make them larger in Archivy perhaps? or configurable size maybe?

It seems like the following toolbar icons are available, what I would personally like to see is configuration for the user to en

[2021-02-09 23:17] BrianGilbert commented on #202
I have a synology running Archivy under Docker with port 6875 exposed within network, and setting the following worked for me
![Storehouse - Synology DiskStation 2021-02-10 10-15-32](https://user-images.githubusercontent.com/114017/107441199-f4b29280-6b88-11eb-914f-50cc09a4679a.png)

[2021-02-10 01:12] BrianGilbert commented on #193
I'd personally suggest making it the same size as the submit button and right aligned to the inputs beside submit

[2021-02-10 02:23] jsnfwlr commented on #202
@BrianGilbert - That's not a solution to my issue. What you've done there is disable HTTPS by using a HTTP only port on your Synology NAS. My issue is that I am using Traefik to serve Archivy over HTTPS, and it fails.

[2021-02-10 22:20] zersiax opened #205 "Current note editor is not accessible to screenreaders"
Unfortunately, the editor to compose note contents is not accessible using screen readers at present. From the behavior I'm seeing I think it's either Ace or CodeMirror, which unfortunately don't work well with assistive technology.
Please consider alternatives like Monaco, or an alternative where screen reader users are able to use a standard <textarea> or the contenteditable attribute in order t

[2021-02-11 11:05] ddoyaguez commented on #205
Hi. I'm checking this with Orca screen reader in Linux with Firefox and I'm able to write text into the easyMDE editor, that is based on CodeMirror, but screen reader is not able to read previously entered text into the editor unless I select the whole text.
The CodeMirror editor has a <textarea> tag, but setting the contenteditable attribute to true doesn't seem to change this behaviour.
Also, I

[2021-02-11 12:15] zersiax commented on #205
@ddoyaguez that is the problem exactly. You can type in the text field but not review your text unless you leave the text field and read the, DOM-technically, next items, which contain both the text in the edit field as well as the line and word count.
I could have sworn I saw the save button before, but perhaps that was on the create note screen where the editor doesn't show up and you can just f

[2021-02-11 13:28] Uzay-G commented on #205
Thanks for bringing this up, I'll see what I can do to fix this and maybe switch editors if need be :)

[2021-02-11 13:32] ddoyaguez commented on #205
I think I understand.

easyMDE has a built-in function to revert to the initial textarea, preserving the text that has been introduced.
What about adding a button only detected by screen readers with the absolute positioning technique [as recommended by WebAIM](https://webaim.org/techniques/css/invisiblecontent/#techniques). On pressing that button, the easyMDE editor would return to the default t

[2021-02-11 13:38] zersiax commented on #205
I think that would be excessive. Using role=alert on an invisible div with just a short message is probably better. "screenreader mode" , " normal mode". That , or make the element to enable the screenreader version a checkbox. If the box is checked, editor is in screenreader mode. Adding aria-live to the container might start reading the entire contents of the editor on change , I'm not sure what

[2021-02-11 18:09] ddoyaguez commented on #205
Okay, thank you for the suggestions!. I'm taking the suggested checkbox approach. I will post here a link to a test server when it is ready. I have also noticed that the delete button, next to the edit button, has no label attached to it, so probably screen reader users can't notice it. @Uzay-G may I add a label there too?

[2021-02-11 18:16] Uzay-G commented on #205
Yeah that'd be perfect :)

[2021-02-11 18:33] zersiax commented on #205
the button is visible, but unlabeled as you stated. so it just reports as " button"  rather than " delete button"  as it were. aria-label on the button element will fix, or just add text to the button next to the icon.

[2021-02-12 10:06] ddoyaguez commented on #205
Hi. I added text to the button next to the icon. Test server with the implemented changes is available from [this link](http://ddoyaguez.ddns.net). Username is admin, and password is admin123.

[2021-02-12 14:40] zersiax commented on #205
I just tested the test server.
The button works great, it now reads properly as Delete. The checkbox to enable screenreader mode works as well.
However, the editor appears to still be inaccessible.
Please have a look at the link below, which explains why codeMirror-based editors currently aren't accessible. It seems that altering the way easyMD works won't fix things because the problem is further

[2021-02-13 17:50] #192 closed

[2021-02-13 19:03] Uzay-G commented on #204
This should be fixed in the v1.0.1 release, thanks for bringing it up !

[2021-02-13 19:03] #204 closed

[2021-02-13 19:04] Uzay-G commented on #193
Oh good idea, it's in the latest release (v1.0.1) :)

[2021-02-13 19:04] #193 closed

[2021-02-15 05:01] BrianGilbert opened #206 "Allow folder creation when using Bookmarklet"
I just hit a case where I wanted to make a new subfolder while using the bookmarklet, but this isn't currently possible, I can see myself needing to create new folder structure when using the bookmarklet a lot, can this functionality please be added?

[2021-02-15 13:27] ddoyaguez commented on #205
Thank you for testing. With the current method I am destroying the easyMDE editor when the checkbox is activated, and replacing it with a textarea with contentEditable attribute set to true. It indeed solved the issue in Linux with Orca. So it is no longer an easyMDE problem.
I'm installing NVDA on Windows to do further research on this problem.

[2021-02-15 13:54] zersiax commented on #205
That is very odd, it felt to me like the easyMD editor was still in place, which makes me wonder if something may have broken on me while I was testing. I tried rechecking the demo server but it is no longer active :) If this does work for you on NVDA , it may have been a glitch on my end. In particular, try narrowing left and right through the entered text, that in particular gave me issues :)

[2021-02-15 17:32] nicolae-stroncea opened #207 "Is it possible to point archivy to existing directory of markdown files?"
Does archivy allow for pointing the folder towards an existing folder structure? Ideally I want to just point it to my existing folder which has markdown files(and other file types) so that it starts displaying files from there and so that if I add a new file it will add it in my original directory.

What I've currently seen is that if I point it to a folder, it will generate a data/ folder inside

[2021-02-15 17:52] nicolae-stroncea commented on #207
So I tried this by pointing archivy to my folder, and moving everything into a data/ subfolder. Archivy correctly read the folder structure, and I can see it now in the sidebar, however I cannot open any markdown file since I get the error:
`jinja2.exceptions.UndefinedError: 'frontmatter.Post object' has no attribute 'title'`
which is probably because my markdown files don't have the frontmatter

[2021-02-15 18:54] ddoyaguez commented on #205
Hi!. I have tested it with NVDA, Windows 10 and Firefox and it works fine for me (if I'm right about what "works" is :) ). I have added an aria-label attribute to the textarea for easier identification of the editor. One thing I have noticed is that when the note is saved (by pressing the save button next to the textarea editor) no confirmation is given. Any suggestions on how to improve that?
Tes

[2021-02-15 19:33] zersiax commented on #205
@ddoyaguez I see the issue :) It works fine in Firefox, it breaks in Chrome. You can get rid of the contentEditable, that fixes it in Chrome and given this is already a textarea, we don't need it here.
That does mean that we won't have an easy WYSIWYG way for screenreaders to mark stuff up, but I'd say being able to write and review what you're writing is already a major win.
As for announcing sav

[2021-02-16 12:54] ddoyaguez commented on #205
Great! Yes, I suppose the optimal solution would be to make easyMDE completely accesible, but until that I'm glad this could help.
I have implemented the changes following your suggestions (thank you again). Everything seems to work great on my side, the span seems to send alerts correctly. Test server is online if you want to test it. If everything works fine on your side, I will prepare the pull

[2021-02-16 13:00] zersiax commented on #205
Just checked, and this looks good :)

[2021-02-17 05:50] kahnwong commented on #198
I  use wallabag and they piggyback on [fivefilters](https://help.fivefilters.org/full-text-rss/site-patterns.html)

Maybe could cook up a parser to read extraction pattern and feed it to bs4: https://stackoverflow.com/questions/11465555/can-we-use-xpath-with-beautifulsoup

[2021-02-17 09:28] Uzay-G commented on #198
Hmm that's really interesting, I'll check it out, thanks for the recommendation!

[2021-02-17 09:37] Uzay-G opened #209 "Customization of markdown renderer and editor"
Linked to https://github.com/archivy/archivy/issues/203#issuecomment-775593281.

Would be nice for users to be able to customize the markdown plugins / renderer used and with which options.

Ideas on how we could structure this would be really useful because I'm not sure what the best design would be.

[2021-02-17 09:37] Uzay-G commented on #203
Hmm I see what you mean. I think we need to find a way to allow the user to be able to add the plugins they want to use **and** also customize the parser, but I'm not sure how we should structure this. If you have any ideas please check out the new issue at #209

[2021-02-17 09:44] Uzay-G commented on #207
You can use the `archivy format` command to add all the frontmatter to the markdown files you have (including setting `title` by default to the filename)

[2021-02-18 10:03] #205 closed

[2021-02-18 10:04] Uzay-G commented on #205
Ok this should be fixed in #208, @zersiax I'll tell you when we publish a new release with the change :)

[2021-02-18 10:05] Uzay-G commented on #206
How would this work?

Currently the bookmarklet just redirects to a new bookmark form, but I'd be open to direct ideas on how we could add support for folder creation

[2021-02-18 10:07] Uzay-G commented on #198
I'm thinking I could add support for a user-facing python file where the user could define a set of "patterns", when one of these patterns is matched, instead of going with the default method archivy uses the user would write code to process this special case himself.

[2021-02-22 11:48] #207 closed

[2021-02-22 11:50] #188 closed

[2021-02-22 23:02] a10software opened #211 "Filename too long error"
Hi there,

I've just set up archivy via Docker on a Linux machine and I'm getting a filename too long error when I try to save this very github repo. My theory is that archivy is pulling the `about` metadata from the URI. My recommendation is that archivy pull the URI stub itself (github.com.archivy or something to that effect) in cases where the filename would be way too long.

Add Link: https://

[2021-02-23 00:48] a10software opened #212 "403 Forbidden for certain links"
The web scraper is getting a 403 response when trying to bookmark certain links. Examples:
https://zenhabits.net/free/
https://sloanreview.mit.edu/article/yes-im-feeling-bad-about-climate-change-lets-discuss/

[2021-02-23 10:10] Uzay-G commented on #212
Thanks for finding this, it seems a "Forbidden" response is being returned because we didn't specify a user-agent when we made the request. I'm going to push a fix !

[2021-02-23 10:16] Uzay-G commented on #212
Ok I just fixed this in https://github.com/archivy/archivy/commit/6a943b35cc1ebfd674a2168ec40e00d66344fbec. It'll be in the next release :) and thanks again for bringing it up :+1:

[2021-02-23 10:16] #212 closed

[2021-02-23 10:22] Uzay-G commented on #211
Hmm I'm not sure what the upper limit for this should be :thinking:

[2021-02-23 17:31] a10software commented on #211
There might be a way to handle the filename too long exception and try a more truncated filename? Or maybe just cap it at 255 chars which seems to the limit for several OSes out there (generally it's 255 chars or bytes). However, pathname is another challenge. Source: https://serverfault.com/questions/9546/filename-length-limits-on-linux#9548

Oddly enough, that may not solve the problem for mysel

[2021-02-23 22:47] Jafner commented on #32
Could this be SVG'd and then added as a favicon for the site?
I've been working on building a landing page and I had to find this thread to get a clean Archivy logo png, then convert it to an SVG.

[2021-02-23 22:54] Uzay-G commented on #32
I don't have an svg of the logo, unfortunately.

I'm curious about the landing page :)

[2021-02-23 23:51] Jafner commented on #32
I'll share it with you on Discord once it's ready for publishing!
I'll also send you the svg. The original design was really nice and clean,
so converting it was dead easy and turned out nice.

On Tue, Feb 23, 2021, 2:54 PM Uzay-G <notifications@github.com> wrote:

[2021-02-24 04:13] claricen commented on #177
👋 @flipenergy and I are opening a PR for this issue soon!

[2021-02-24 11:11] #177 closed

[2021-02-24 11:12] #181 closed

[2021-02-26 02:48] FlipEnergy commented on #150
I'm familiar with running WSGI apps with Gunicorn. I'm not assigning myself to this yet but I'm going to do a POC. I will likely also update the docker setup to run as archivy thru Gunicorn.

Before I begin, I need to confirm that this application is stateless because we're definitely going to running multiple instances of this Flask app as Gunicorn wsgi workers.

[2021-02-26 05:21] FlipEnergy opened #214 "Thoughts on switching to pipenv?"
I see you guys use straight up requirements.txt
This is fine for the docs but for development, CI and releasing, I think it's be nice to switch to pipenv. I'm happy to make a PR to help with this.

I'm raising this issue because it wasn't even obvious what version of python you guys are working on for Archivy. The black workflow runs python 3.8 but the other ones run python 3.7.

EDIT: `FROM pytho

[2021-02-26 22:54] Uzay-G commented on #214
What do you think about this @srevinsaju ?

[2021-02-27 07:27] FlipEnergy commented on #214
Hey. I opened this on a whim and since this isn't really an issue I'm gonna close this. Don't feel like you need to continue the discussion,

[2021-02-27 07:27] #214 closed

[2021-02-27 07:44] srevinsaju commented on #214
I have been personally been using `Pipenv` for testing archivy, and now am moving other projects to `pipenv` instead of the old `pip`. This is safer and helps to keep the dependencies in their own virtual environments.

[2021-02-27 07:45] srevinsaju commented on #214
I just committed my `Pipfile` and `Pipfile.lock` which I had been using for archivy in #216 , in case if it would be useful.

All you need to do is

[code]

[2021-03-01 04:52] BrianGilbert commented on #206
This is what I'd envisage as a minimal UX way to deal with it

![New Bookmark - Archivy 2021-03-01 15-51-36](https://user-images.githubusercontent.com/114017/109453405-16c37480-7aa6-11eb-98ee-548da5d3d32b.png)

[2021-03-01 05:03] BrianGilbert commented on #119
relevant and worth reading https://medium.com/swlh/welcome-to-the-note-taking-apocalypse-64a74481a5ab

[2021-03-01 07:55] Uzay-G commented on #206
I'm thinking of doing something like this: embedded inside the note, you would have links in the form of `#<note id>` and this would expand to a link to the note with its title in the rendering.

However I think it'll be clunky if the user has to open a new tab, search for the other note's id and then paste it in.

I'm not sure how we could do this well but for example a solution like this could b

[2021-03-06 17:03] Uzay-G commented on #13
I've begun implementing a setup using ripgrep at #217. Still a work in progress but has been fairly easy to code.

[2021-03-07 12:43] Uzay-G commented on #119
@BrianGilbert you mean I would put something like `[[Random Note]]` in one of my notes, and then it would automatically create notes?

I was thinking of adding some form of bidirectional tagging and at least one-way links.

One way links are easy to design / implement, I would just have to add something to the editor that lets me search for a note with its title and then link to it.

On the other

[2021-03-07 19:58] Uzay-G commented on #119
What I have for now:
![random](https://user-images.githubusercontent.com/52892257/110252827-97dba980-7f87-11eb-8fc7-2fbdd5822de1.gif)

[2021-03-08 00:42] BrianGilbert commented on #119
@Uzay-G that looks great, you may need to also show the folder somehow when selecting page,if I have identically named notes in different folders for instance

_"@BrianGilbert you mean I would put something like [[Random Note]] in one of my notes, and then it would automatically create notes?"_

Yes exactly this, as per many wiki's

[2021-03-08 18:18] Uzay-G commented on #119
If you look at the gif you'll see that it actually includes the id in the link, so it wouldn't be a problem.

Hmm in that case I'd have to include folder information or something. I could also setup a way to redirect to/from the new note form. :thinking:

[2021-03-08 18:48] srevinsaju opened #219 "archivy --version should also show Archivy's version"
[code]

It would be nice to display Archivy version also in this.
Alternatively, override the `--version` flag, to provide only the archivy's version.

[2021-03-08 18:56] Uzay-G commented on #219
Good idea!

[2021-03-10 21:20] #13 closed

[2021-03-20 16:40] Uzay-G commented on #119
Implemented in #218 and is in the last release :)

[2021-03-20 16:40] #119 closed

[2021-03-20 16:42] Uzay-G commented on #74
Ok internal links and a search engine alternative are implemented in the last release :).

Image upload would definitely be nice :thinking:

[2021-03-21 22:29] BrianGilbert opened #220 "Upgraded to 1.1.1 and seeing random backlinks on many pages to unrelated pages"
I've not manually created any links yet and seeing backlinks on many of my pages, also when editing if I don't delete the backlinks block then I will end up with multiple copies of it on save.

[2021-03-21 22:41] Uzay-G commented on #220
Oh crap it seems that I missed a few bugs. Thanks for reporting them! I'll try and fix it tomorrow :)

[2021-03-22 18:48] Uzay-G commented on #220
Could you maybe give me an example of the cases where you're getting random backlinks?

I can't replicate it.

As for the other problem, I'm on it :)

[2021-03-23 23:26] Uzay-G commented on #220
Alright the backlinks section being put inside the editor when it shouldn't be is fixed in the last commit, so once you give me more details for the other problem I'll fix that and deploy a new release :)

[2021-03-25 15:03] adamclerk opened #221 "get_elastic_client is not defined"
https://github.com/archivy/archivy/blob/cc4a9c6bd2fbd1bbdc756178b3c1017cfdeb54e6/archivy/__init__.py#L57

I'm trying to spin up a new docker container...and I'm throwing an error on line 57. Looks like we forgot to import 'get_elastic_client'.

[2021-03-25 15:14] #221 closed

[2021-03-28 00:37] BrianGilbert commented on #220
@Uzay-G as far as I can tell it may be related to content containing spoecial charachter in the filename, particularly `/` my one peice of content containing that in the title is lkisted as a backlink on every other page.. or `|`, alternatively it may be related to imported webpages.

One thing I do know is that I've not interlinked any of my created content within Archivy yet.

[2021-03-28 02:28] BrianGilbert commented on #220
In the first image you will see that it lists Reading Material as a backlink, in the second you can see that Reading Material contains no link to the first page. These pages are from different directory trees within Archivy too.

![TODO - Archivy 2021-03-28 13-26-14](https://user-images.githubusercontent.com/114017/112740505-5dcf5780-8fc9-11eb-8a4d-a7628e08be43.png)

![Reading Material - Archivy 2

[2021-03-28 09:28] Uzay-G commented on #220
You shouldn't be able to edit the backlinks directly like that, it's been fixed in the last release. That whole backlink section just appeared? :thinking:

[2021-03-28 09:29] Uzay-G commented on #220
I think I might know why, I'll try and fix it.

[2021-03-29 00:49] BrianGilbert commented on #220
Yeah I know you'd already fixed that, I just showed the edit view in case it gave you more infiormation 👍

[2021-03-29 16:53] Uzay-G commented on #220
Ok thanks. I've pinned down the cause for the other issue, and I'll try to have it fixed and released by thursday tops (a bit busy this week).

Sorry for that bug :sweat_smile:

[2021-04-04 17:24] Uzay-G commented on #220
@BrianGilbert could you test out the fixes I just pushed? You need to use the `source` image here: https://hub.docker.com/layers/uzayg/archivy/source/images/sha256-ba8caf1bd8b2f6524fa10b092dc9ad64b46afacfe6ef6a378ce22405f516b255?context=repo.

[2021-04-06 00:29] BrianGilbert commented on #220
@Uzay-G tested and seems to be working great, all the backlinks blocks I had have now disappered, and creating a manual backlink it displayed as expected.

[2021-04-06 00:31] BrianGilbert opened #223 "Implement trashcan for deleted notes"
Deleting a note is currently thermonuclear, it'd be great if there was a trashcan system that held deleted notes for a period of time in case I realise I needed note after deleting it.

[2021-04-06 21:01] Uzay-G commented on #223
Hmm that's a good idea

[2021-04-06 21:03] Uzay-G commented on #220
Alright I pushed a new release `1.1.3`, thanks again :)

[2021-04-06 21:03] #220 closed

[2021-04-10 16:02] #156 closed

[2021-04-15 16:26] Uzay-G commented on #74
@mrmaxguns I wrote some code to get image upload working, could you maybe test it out :smile:. You can clone the branch from this PR -> https://github.com/archivy/archivy/pull/224.

That'd be really awesome, and if everything works I'll go ahead and merge it + make a new release :)

[2021-04-17 13:58] Uzay-G commented on #211
Sorry for fixing this late, but I pushed a patch and it'll be in the next release :)

[2021-04-17 13:58] #211 closed

[2021-04-18 15:26] mrmaxguns commented on #74
@Uzay-G Yes, I am willing to test it out. I'll comment on the PR after testing it out.

[2021-04-18 21:47] Uzay-G commented on #74
Perfect! Thanks :)

[2021-05-04 09:46] Uzay-G opened #226 "Allow more efficient bookmarking as you are editing a note"
I think it'd be nice if you could do this:

- inside the web editor, there would be a button (probably with a bookmark icon)
- when clicked, you'd input a link and it would save the webpage you specified and then add a link to this local copy of the webpage

This would contribute to improving the Archivy UX.

[2021-05-06 12:57] edditler opened #228 "Themes"
This refers to https://github.com/archivy/archivy/issues/89 also.

I think it would be nice to be able to chose between themes or at least be able to supply some custom CSS. I'm wondering what you are thinking. Should there be a `./themes` folder next to `./data` and `./images` so that everyone can add/adapt easily for themselves or rather a set of official themes?

One could store the name of the

[2021-05-06 17:02] Uzay-G commented on #228
Hmm interesting.

Maybe archivy users could have a `styling/` directory, and all css files in there would get bundled together and then served with the instance?

That way, to reuse someone's themes you would just have to copy their files in, and making your own custom little change would be as simple as adding a `custom.css`

[2021-05-07 14:11] edditler commented on #228
So in that case `archivy init` would create the folder `./styling` and put the `main.css` in there?

[2021-05-11 05:57] edditler commented on #209
It would probably be best to include more sections in `config.yml` next to the search configuration and allow users to change those settings from within the app. The simplest settings are these:

[code]

What makes it a bit messy is that this config has to be passed to each template or put into a global variable like `session.config`.

[2021-05-12 08:39] edditler opened #232 "Editor font should be monospaced"
In the demo of markdown-it at https://markdown-it.github.io the editor font-family is `Menlo, Monaco, Consolas, "Courier New", monospace`. In archivy this is not the case for some reason.

[2021-05-13 13:51] Uzay-G commented on #232
Why do you think it would be better monospaced? This is really just a matter of preference that could also be fixed with #228

[2021-05-13 22:11] edditler commented on #232
for me it's stuff like

---
'''
this code does awesome things:

'''python
def code():
    indents-are-important()
'''

'''

the code at least should be monospaced so that it can be read nicely.

[2021-05-15 01:00] Zottelchen opened #234 "module 'os' has no attribute 'pathconf'"
System: Windows 10 Pro 20H2 / Python 3.9.5
When trying to create a new note or add a bookmark, this error appears:
[code]

[2021-05-15 12:55] Uzay-G commented on #232
Yeah I see what you mean. I'll close this for now because once we have #228 implemented it'll just be a matter of adding a line of css, so that will fix this :)

[2021-05-15 12:55] #232 closed

[2021-05-20 15:25] Uzay-G commented on #234
Thanks for reporting this compatibility issue, I fixed it in recent commits and will send a message once I push a new release with the fix in it :).

Should be soon ^^ :smile:

[2021-05-20 15:25] #234 closed

[2021-05-23 12:28] Uzay-G commented on #234
Alright this is fixed in 1.3.0 :tada:

[2021-05-23 12:29] Uzay-G commented on #191
Alright, renaming the note is possible in v1.3.0 :tada:

Revisiting this issue, you're right, we have to implement this for folders too!

[2021-05-23 12:30] Uzay-G commented on #89
It's now easier to implement one using the work of #228

[2021-06-01 07:26] edditler opened #236 "Sorting dataobjs"
Right now the list of dataobjs is sorted by name. It would be nice to have the possibility to also sort by creation date or even manually.

[2021-06-01 07:31] Uzay-G commented on #236
Hmm good idea :thinking:

[2021-06-01 21:52] Uzay-G commented on #228
Fixed in #235

[2021-06-01 21:53] #228 closed

[2021-06-01 21:53] #226 closed

[2021-06-10 20:06] Uzay-G commented on #198
This is on the way! I've just been busy lately :)

[2021-06-11 07:00] questor commented on #198
great to hear, looking forward what you implement ;)

[2021-06-16 03:08] ropable opened #238 "Allow override of "Archivy" for site title and page headings"
It would be useful to allow a user to override the default value of "Archivy" for page title and heading values with their own value, e.g. "My awesome Archivy". This should be relatively trivial to include as a configuration variable, injecting something like SITE_TITLE on the base template.

[2021-06-16 04:10] ropable commented on #238
I prototyped a few changes that should allow this; these are reviewable at this commit: https://github.com/ropable/archivy/commit/463c481bb5505cf9ee2c04c1c83b67d777604887

I won't submit a PR or do anything further with it prior to discussion here.

[2021-06-16 21:20] Uzay-G commented on #238
That's a good idea! You can open a PR and then I'll review it / help out if there are any problems :)

[2021-06-17 00:39] ropable commented on #238
Thanks! PR #239 refers. Apologies if my overzealous culling of leading/trailing spaces increased the number of files in the PR.

[2021-06-18 04:46] BrianGilbert opened #240 "Display Archivy version somewhere within it's UI"
I like to keep Archivy up to date, but that means I have to log into the server to confirm what version I am running, can we please get the version displayed in the web interface to make it easier?

[2021-06-18 14:07] Uzay-G commented on #240
Yeah we could do that.
Where do you think it would fit best?

[2021-06-22 00:32] BrianGilbert commented on #240
I think this look ok?

![root - Archivy 2021-06-22 10-30-52](https://user-images.githubusercontent.com/114017/122844470-14cb3d00-d345-11eb-811d-8a0529134e55.png)

[code]

[2021-06-22 10:46] Uzay-G commented on #240
Hmm yeah that looks good, I just implemented it in the last commit! Thanks for the suggestion :blush:

[2021-06-22 17:07] #240 closed

[2021-06-23 05:23] #238 closed

[2021-06-23 05:30] ropable commented on #89
I have some bandwidth to look at this issue unless @bislara is working on it.

[2021-06-24 04:49] BrianGilbert commented on #209
#195 related

[2021-06-24 04:49] BrianGilbert commented on #195
#203 #209 related

[2021-06-25 15:25] Uzay-G commented on #89
Yeah that would be nice! #228 is also related

[2021-06-25 23:21] Uzay-G commented on #198
What I currently have implemented is setup like this:

There's a user-facing `scraping.py` file where you specify regex patterns like this:

[code]

Any urls that have `test` in them will match and call `fun` on the data instead of the usual behaviour.

[2021-06-25 23:24] Uzay-G commented on #198
I have to document / test things a bit more, and I'm open to suggestions

[2021-06-27 16:24] Uzay-G commented on #198
@questor is this the type of implementation you were looking for? I'm open to feedback !

[2021-06-28 01:32] ropable commented on #89
PR #242 refers.

[2021-06-28 12:15] Uzay-G commented on #209
This is fixed in #241 !

[2021-06-28 12:15] #209 closed

[2021-06-28 12:16] Uzay-G commented on #195
I'll work on this once I'm done with #198 :blush:. I agree we could improve here.

[2021-07-01 14:06] Uzay-G commented on #198
See #243

[2021-07-02 08:35] questor commented on #198
thanks for putting it in, I have seen it but up to now had no time to really test the feature and gather experience with the approach.

[2021-07-12 17:16] Uzay-G commented on #89
Closed thanks to @ropable's great work !!

[2021-07-12 17:16] #89 closed

[2021-07-14 16:47] Uzay-G commented on #78
Closing for now.

[2021-07-14 16:47] #78 closed

[2021-07-14 16:57] srevinsaju opened #244 "v1.3.1 release question"
Quick question, I am pretty sure v1.3.1 existed a week back. But GitHub releases show v1.3.1 was released ~11 minutes ago. I must be missing something.

[2021-07-14 16:58] Uzay-G commented on #244
Yeah I forgot to publish the release on github, it was just a draft. You're right it was published to Pypi before.

[2021-07-14 16:58] #244 closed

[2021-07-14 16:58] srevinsaju commented on #244
Oh, okay. Thanks

[2021-07-14 17:19] Uzay-G commented on #172
http://sigmajs.org/ could be useful - am looking into it.

[2021-07-18 08:25] BrianGilbert opened #245 "Title gets cut off"
![Integrations to add to VR Games - Archivy 2021-07-18 18-30-25](https://user-images.githubusercontent.com/114017/126060946-9c5f9113-6722-4c83-ba94-9cf5afe30fa1.png)

[2021-08-11 08:46] BrianGilbert opened #247 "How can I extend editor configuration?"
I'd like to add a few editor icons to the toolbar if possible?

Related: https://github.com/archivy/archivy-docker/issues/13

[2021-08-13 11:54] Uzay-G commented on #247
Hi! I'm currently traveling, but I'll implement a new config option for this to be possible.

Out of curiosity, what option specifically would you like to add in your config?

[2021-08-17 19:20] Uzay-G commented on #245
Fixed

[2021-08-17 19:20] #245 closed

[2021-08-17 19:21] Uzay-G commented on #198
This can now be closed.

[2021-08-17 19:21] #198 closed

[2021-08-17 19:21] Uzay-G commented on #165
I'd rather let package organise install instructions, instead of calling pip or something.

[2021-08-17 19:21] #165 closed

[2021-08-17 23:59] Uzay-G commented on #191
#248

[2021-08-18 02:31] BrianGilbert commented on #247
I'd definitely be adding list items, so that I can turn multiple lines of text into a list, not sure about others atm.

[2021-08-31 16:57] Uzay-G commented on #247
Archivy currently uses an editor called EasyMDE. They offer these default icons, of which Archivy selects some default ones: https://github.com/Ionaru/easy-markdown-editor#toolbar-icons. What we could add is a config option to add some of these icons to the editor.

Is this what you want or do you want direct ability to write code for the editor?

[2021-09-13 17:32] Uzay-G opened #252 "Implement CodeClimate CI with flexible checks"

[2021-09-26 18:18] Uzay-G commented on #191
Fixed in #248 !

[2021-09-26 18:18] #191 closed

[2021-10-04 13:44] sheep94lion commented on #168
Can the tags be changed now?

[2021-10-04 17:15] Uzay-G commented on #168
Currently the only way to change tags is directly editing the file (not through archivy). However, #233 will be merged soon and will provide a rework of the tag system such that they can be changed.

Out of curiosity @sheep94lion, I'd like to ask you about the potential changes of #233. We're planning on replacing the tags which are currently stored as metadata, and instead directly embedding tags

[2021-10-27 20:01] Uzay-G opened #255 "Make ripgrep search results more useful"
Ripgrep needs to be a truely 100% viable alternative to Elasticsearch by v2, especially if we make it a hard dependency.

[2021-10-27 20:01] Uzay-G opened #256 "Backlink auto complete similar to what is being implemented with tags"

[2021-10-28 13:09] Uzay-G opened #257 "Analysis of Archivy scalability: performance painpoints"
Prompted by inefficient re-loading of dataobj tree on each request.

[2021-10-30 14:18] Uzay-G commented on #13
@pirate is sonic an effort to setup for your users, or is it pretty easy?

Ripgrep is nice but it's still a bit limited (not full-text).

[2021-10-31 01:07] pirate commented on #13
Sonic is fairly easy, closer to ripgrep than elasticsearch in terms of setup difficulty. There is one config file, but the actual program is just a single executable with everything included, also runs well in docker.

[2021-11-01 06:04] vacom13 commented on #152
@Uzay-G
Might be a little too late lol but has this already been worked upon? I am an os newbie so still trying to figure this stuff out 😅.

[2021-11-01 12:03] Uzay-G commented on #152
No it hasn't been implemented yet. Do you have any plugin ideas? I can explain the plugin directory structure if you'd like :)

[2021-11-01 12:04] Uzay-G commented on #152
It would be a command like `archivy plugin new <plugin name>` that would then setup the directory with everything you need to create a plugin.

[2021-11-02 13:23] vacom13 commented on #152
Could you um point me towards some resources? I could refer too maybe. And yes, explaining the structure would be great help too! I actually am well a newbie programmer as well 😅. I assume that by plugins you imply something like jupyter lab for vs code or emmet for sublime text?

[2021-11-04 15:33] Uzay-G commented on #152
Archivy plugins are extensions that use the archivy knowledge base's contents and add to it some extra functionality:

You can see the structure of an example plugin here: for the archivy-pocket plugin which allows you to download your pocket saved articles: https://github.com/archivy/archivy-pocket/

[2021-11-05 13:11] vacom13 commented on #152
Okay @Uzay-G I wish to have a go at it. Please assign this to me!

[2021-11-05 13:42] Uzay-G commented on #152
Ok!

[2021-11-07 14:09] vacom13 commented on #152
@Uzay-G okay so I have been thinking about this a ton and would like some of your help. Please just guide me on whether this would be the correct way of approaching this. So as soon as I type "archivy plugin new <name>" it basically creates a "setup.py", a requirements.text and a directory consisting of  __init__.py as another pyton file as said in "plugind.md" file? Am I correct?

[2021-11-07 15:22] Uzay-G commented on #152
Yeah it would create a new directory `<plugin_name>` with inside requirements.txt, setup.py and a sub directory with `__init__.py`

[2021-11-08 08:26] vacom13 commented on #152
@Uzay-G so I have basically implemented it as a plugin if thats cool? I have the code files ready with me right now which do exactly as specified. What do I do now? I checked plugins.md. Do I just publish it or idk. I wrote pretty basic code 😅.

[2021-11-09 06:13] vacom13 commented on #152
Okay cool

[2021-11-09 12:17] vacom13 commented on #152
@Uzay-G I have actually implemented this. However, could you guide me on creating the pr? Like do I create a new branch in my fork and then create a pr while comparing across forks and that would automatically create a new branch in the ustream?

[2021-11-09 17:22] Uzay-G commented on #152
Yeah that's it. Put your changes on a branch of your fork and then you can open a PR onto this repo, comparing it to your fork's branch.

[2021-11-09 17:29] vacom13 commented on #152
Okay. I am doing it right away.

[2021-11-15 19:06] edditler opened #265 "Deal with timed out/failed requests"
When saving a note, one of the toolbar icons in the editor will turn into a checkmark - indicating success - even if the response was 500 or timeout.

Archivy should handle the responses to `fetch` calls correctly.

[2021-11-16 19:18] edditler commented on #265
It appears that `fetch()` times out after more than a minute in Chrome and Firefox, which seems way too long. I included a timeout function in https://github.com/edditler/archivy/commit/e156b0ae0a567d5fb75ccff5a8a44f20f11958db#diff-82dfc4e59d32f549c0c0f2d629c4205952911a4a80a26fb4a55ba7ce94e0f66bR286-R322 and will test this for some time.

[2021-11-16 19:21] Uzay-G commented on #265
Already handling responses where the response wasn't a 200 code is something I should have done a while ago :sweat_smile:. This is a good idea.

[2021-11-25 21:46] Uzay-G commented on #265
Do you have any code for this? otherwise i'll start working on it. This + ideally a new `archivy-lite` docker image (just ripgrep) and we can make a new release.

[2021-11-25 22:12] edditler commented on #265
I'm testing like this right now: https://github.com/edditler/archivy/blob/main/archivy/templates/dataobjs/show.html#L286-L327

Surprisingly, a timeout of 3s was not always long enough, and even with 10s, I get sporadic alerts. It's better to know than to accidentally close the tab, but it's not a great solution for the problem itself (that edits are easily lost).

[2021-12-03 19:15] makefu opened #266 "[Question] Upload firefox archive"
Hi, right now i have all my bookmarks in firefox and i would like to add them to archivy. The archive itself contains ~10k bookmarks, is there any way to upload the whole archive as a batch or via a script?

[2021-12-04 16:44] Uzay-G commented on #266
This would be pretty simple with a plugin (https://archivy.github.io/plugins/), that would parse a `bookmarks.json` file and upload them to Archivy.

This would be useful for me too, so I can probably do it soon.

[2021-12-04 18:10] makefu commented on #266
Hey @Uzay-G that sounds great, thanks for the heads-up!

[2021-12-07 17:32] Uzay-G opened #267 "Header / block linking"
In the context of backlinks, making them more precise (ie targeting paragraphs). This is a long-term idea, not going to be implemented soon.

[2021-12-12 18:35] Uzay-G commented on #266
@makefu this should work: https://github.com/archivy/archivy-firefox.

Tell me how it goes!
Warning, it might take some time for 10k bookmarks.

[2021-12-12 18:35] Uzay-G commented on #252
Done.

[2021-12-12 18:35] #252 closed

[2021-12-12 18:36] Uzay-G commented on #255
Much better with #259. Still could find better mechanisms for multiple words (ie, fuzzy matching of some sort).

[2021-12-12 18:38] #266 closed

[2021-12-12 18:38] Uzay-G commented on #266
@0x4A6F you upvoted this too, pinging you in case you're interested.

[2021-12-12 18:42] Uzay-G commented on #152
Closing this, thanks again @vacom13

[2021-12-12 18:42] #152 closed

[2021-12-12 18:43] Uzay-G commented on #66
I have not forgotten about this, it has lots of potential but I need to think about it more. I have lots of ideas on what shape this could take!!

[2021-12-12 18:45] Uzay-G commented on #97
!! This would be great, for bookmarks. Not sure the best way to do it though, on the frontend side (how to allow sleek annotations), and backend (store annotations and position in the .md file, probably metadata).

Help wanted here

[2021-12-13 09:39] edditler commented on #97
I'm not 100% sure what kind of annotations you are looking for. markdown-it plugins could get you there to some degree:

- https://github.com/markdown-it/markdown-it-footnote
- https://github.com/markdown-it/markdown-it-container

[2021-12-14 20:40] edditler opened #269 "Sanitation plugin"
I'm not entirely sure if a plugin is the best way to go about this. This PR could also be a shell script, but I'm curious to hear what you think. My idea is that the plugin iterates over all (new) notes and makes replacements like

 - Replace links to /dataobj/XYZ (bookmarks) by backlinks
 - Replace curly with straight quotation marks and similar stuff
 - Replace `**Bold text**:` by `**Bold text:*

[2021-12-15 21:37] Uzay-G commented on #74
Image upload, links between notes, and embedded tags inside notes, of the form: "I love #archivy#", are now all in Archivy core.

[2021-12-16 05:11] Christoph-Wagner opened #270 "Add a parameter to override the config path for init"
Currently, `sudo -u archivy archivy init` results in `PermissionError: [Errno 13] Permission denied: '/home/archivy'` which makes sense, as `archivy` is my service user only created for the purpose of running archivy and has no home directory or shell.

Now I fixed that by simply creating the directory, but it seems I should just be able to tell the `init` function where to save the config (and th

[2021-12-16 15:56] graphixillusion opened #271 "search with ripgrep doesn't work on Windows"
Hi there. As the titles says, the search isn't working on Windows using ripgrep as backend. I can see this message in the log:

[code]

I've also tried to ripgrep manually the markdown file inside the data folder and i have no problem at all.

[2021-12-16 19:19] Uzay-G commented on #271
Oh oops, I run it on linux and hadn't noticed this! Pushing a fix right now.

[2021-12-16 19:21] Uzay-G commented on #271
Alright, I patched a new version. Could you run `pip install archivy==1.6.1` and try again? Thanks for letting me know!

[2021-12-16 19:37] graphixillusion commented on #271
@Uzay-G Thank you very much for the super fast fix! Now it's working as intended!

[2021-12-16 19:37] #271 closed

[2021-12-21 09:58] meldarionqeusse opened #272 "Unable to run app in docker getting ERROR"
ERROR: no matching manifest for linux/arm/v7 in the manifest list entries

[2021-12-23 06:34] JamieSlome opened #273 "Found a possible security concern"
Hey there!

I belong to an open source security research community, and a member (@scara31) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice

[2021-12-23 09:50] Uzay-G commented on #273
Thank you for the recommendation! I added a `SECURITY.md` file, and you can contact me at `halcyon@disroot.org`

[2021-12-23 09:50] #273 closed

[2021-12-23 12:31] Uzay-G commented on #270
The problem here is that the config stores the paths where your data is,  so if we did this you'd need to have some argument on the cli to pass a config directory whenever you run archivy. I'm not sure what a good solution to this is.

[2021-12-23 12:35] Uzay-G commented on #269
Hmm this could be interesting, but maybe not as an official archivy project (because opinionated). For the last point, maybe we could update the `max_id` by looking at all dataobjs when archivy starts, and making sure it's correct? I think we had that at some point.

[2021-12-23 12:57] Uzay-G commented on #272
You're using docker? I'm trying to fix this at https://github.com/archivy/archivy-docker/issues/9 - it's a problem with using docker on arm. Otherwise, the app will work if you install it through pip, until this is fixed.

[2021-12-23 12:57] #272 closed

[2021-12-23 17:31] edditler commented on #269
re the `max_id`: that seems like a good approach. one could, in principle, `git pull` data into a running instance, but restarting at that point shouldn't be a problem

re the plugin: I think I'll start writing something up and see how it goes. The `path` issue annoys me enough that I need to write a script in any case.

[2021-12-25 18:43] clemux commented on #184
What's the status of this issue? Do you know how to remove the `__init__.py` code and have not found the time for that yet? Or do you need help to figure it out?

[2021-12-25 18:57] clemux commented on #270
I think an environment variable would be best, if setting `XDG_CONFIG_HOME` in the systemd unit file works, maybe a `ARCHIVY_CONFIG_PATH` variable would be useful for such usecases?

[2021-12-25 19:17] Uzay-G commented on #270
Yeah that would work well.

[2021-12-25 21:30] Uzay-G commented on #184
I haven't had time to do this yet, help is welcome.

[2021-12-28 12:33] clemux commented on #270
Would be this satisfactory? https://github.com/archivy/archivy/pull/274

[2021-12-31 15:43] Uzay-G opened #275 "Login mechanisms / way to sync with local browser session"
Would enable better bookmarking.

[2021-12-31 15:46] Uzay-G commented on #270
Implemented in #274, thanks @clemux. I'll put something about this on the doc website at the next release.

[2021-12-31 15:46] #270 closed

[2022-01-01 13:37] clemux commented on #169
I've been using this webextension for saving some webpages: https://github.com/gildas-lormeau/SingleFile

I wonder if it could be easily adapted for uploading the HTML files to archivy.

Also archivebox has this: https://github.com/tjhorner/archivebox-exporter (MIT license)

Might be even better.

[2022-01-01 13:38] clemux opened #276 "Webextension for saving pages and sending them to archivy"
I've been using this webextension for saving some webpages: https://github.com/gildas-lormeau/SingleFile

I wonder if it could be easily adapted for uploading the HTML files to archivy.

Also archivebox has this: https://github.com/tjhorner/archivebox-exporter (MIT license)

Might be even better.

_Originally posted by @clemux in https://github.com/archivy/archivy/issues/169#issuecomment-100356054

[2022-01-07 20:15] Uzay-G opened #277 "Auto create note by creating link to it"

[2022-01-07 20:15] Uzay-G opened #278 "Better note title autocomplete on data list"

[2022-01-08 06:36] andrewchenshx commented on #74
1)Section Editing: allows editing of small parts of a page
2)Automatic table of contents generation
thanks 👍

[2022-01-08 10:08] Uzay-G commented on #74
What do you mean by automatic table of contents generation? doesn't archivy also do that?

How would you want the section editing to work.

[2022-01-08 10:24] andrewchenshx commented on #74
better make the toc box float at the top right corner of the content(even when the user scroll down the lengthy page). This allows users to have a quick look at the page structure and quickly jump to the part of the page they want.

Each headline (usually only the first 3 levels) starts a new section. When a page is writable a small Edit button appears at the end of the section. Using this button

[2022-01-12 22:00] Uzay-G opened #279 "Pinned TOC"
@andrewchenshx

[2022-01-12 22:01] Uzay-G commented on #279
@andrewchenshx I'm not sure exactly what this would look like. What do you mean by top right corner? Like a little scrollable box?

[2022-01-16 09:31] andrewchenshx commented on #279
my fault.
for the top-right corner or upper-right corner, the key point here is the toc box should be always visible to the user, wherever at the content/page the user is reading. of course, if there are too many entries in the toc, the toc box may occupy the whole height of the page, then it will look like a sidebar on the right side.

[2022-01-16 09:42] andrewchenshx opened #280 "deploy within an intranet?"
is it possible to deploy archivy within an intranet?
i can install archivy on a server within an intranet, while the client machines can NOT access the public network for some css/icon files or so, so the page does NOT display properly.

[2022-01-16 12:58] clemux opened #282 "image scrapping: check for Content-Type header instead of file extensions"
Archivy does not currently save images if there is not file extension. It should check the `Content-Type` header instead of the file extension in `src` tag.
However, that requires downloading at least part of each file. For example:

[code]

[code]

[2022-01-17 10:17] Uzay-G commented on #282
@clemux did some work on this here: https://github.com/clemux/archivy/commit/d0df0d88dfc23787c64a6fb12f1919a24378275f

Will look at it

[2022-01-18 00:09] Uzay-G commented on #280
Ah, that's a good point. I'll try to change is so that those files come packaged with Archivy.

[2022-01-18 00:10] Uzay-G commented on #279
This would be nice, I'll look into it.

[2022-01-25 18:45] Uzay-G commented on #280
Other than the logo, are there any especially annoying things that wouldn't load for you? There's also the LaTeX math stylesheets that are loaded off a CDN.

[2022-01-25 20:51] Uzay-G commented on #280
Should be fixed on the next release with https://github.com/archivy/archivy/commit/419668d39cb9dcadb39ba76562a2d88c48bf6038

[2022-01-25 20:51] #280 closed

[2022-02-03 22:20] Uzay-G commented on #277
Implemented

[2022-02-03 22:20] #277 closed

[2022-02-03 22:21] Uzay-G commented on #256
Implemented

[2022-02-03 22:21] #256 closed

[2022-02-03 22:23] Uzay-G commented on #74
Big goals:

- improve ease of use (mobile? desktop app? hosted service?)
- improve ripgrep search
- implement automatic mechanisms for discovery (cf [Espial](https://github.com/Uzay-G/espial))
- federation?
- UI plugins

[2022-02-03 22:24] Uzay-G commented on #74
@andrewchenshx I haven't forgotten you! My specialty just isn't UI stuff but I need to get to it.

[2022-02-19 18:24] Uzay-G commented on #276
Implemented in recent commits, will be in the next release

[2022-02-19 18:24] #276 closed

[2022-03-07 21:28] Uzay-G opened #289 "Hosted version / desktop app"
I am considering spending some time on a hosted version, because I'd like Archivy to be available to more non-technical people, and hosting it as a service would also make an integration with [Espial](https://github.com/Uzay-G/espial) easier.

I am also thinking of packaging Archivy as a single-file executable desktop app.

Opinions on this are welcome. Please tell me if you'd be interested in a h

[2022-03-07 21:29] Uzay-G commented on #169
#275

[2022-03-07 21:29] Uzay-G commented on #168
I think the tag system is now good.

[2022-03-07 21:29] #168 closed

[2022-03-07 21:31] Uzay-G commented on #203
Is there still interest for this? I could build a system to allow easy add on of plugins in the config. Ping the thread if so.

[2022-03-07 22:39] Uzay-G opened #290 "Multiple wikis on one install"
I'm not sure what the best way to do this would be. Maybe passing a cli command to `--data-dir`, but then `db.json` would pose issues.

[2022-03-20 17:52] Uzay-G commented on #265
e429e1c57029142c69aa057e9058ff5d97e9c097 works on this

[2022-03-20 22:54] BrianGilbert commented on #247
@Uzay-G yes, I was after ability to configure what icons are available please.

[2022-03-20 23:13] BrianGilbert opened #291 "Bookmarklet fails: Method Not Allowed The method is not allowed for the requested URL."
I've just updated Archivy to 1.7.2, and recreated my bookmarklet, when I try to use it on any site I get error:

Example

Browse to: https://www.athlegan.com/starting-strength
Use bookmarklet: new window opened at my Archivy instance, required me to authenticate with Archivy, click submit on login form get white screen with following error:
[code]

URL of error page is https://mayarchivydomain.com

[2022-03-20 23:15] BrianGilbert commented on #291
Incidentally, if I try to add bookmark of this website the images do not get downloaded (configured for download in my Archivy settings)  https://www.athlegan.com/starting-strength

[2022-03-23 13:16] Uzay-G commented on #291
@BrianGilbert do the images show though? or are they not even in the saved content?

About the issue you brought up, that's because it goes directly from not logged in to logged in and then redirects to the save link page, which is a POST normally.

I'll try to see what I can do about that, but because of security stuff you might just have to be logged in before saving the article.
Not sure what t

[2022-03-23 13:32] Uzay-G commented on #247
Alright, I implemented this in https://github.com/archivy/archivy/commit/e081760d530eeecb59bec5a417fa6d11c4cb8be8, will be good in the next release. [Docs](https://archivy.github.io/config/#editor-configuration)

[2022-03-23 22:25] BrianGilbert commented on #291
@Uzay-G so yeah, I was already logged in in another tab, I can make a video if you like?

[2022-03-23 22:30] Uzay-G commented on #291
that would be helpful. Thank you!

[2022-03-23 22:40] BrianGilbert commented on #291
@Uzay-G https://www.youtube.com/watch?v=0x5NuM2Eoeo

[2022-03-24 15:13] Uzay-G commented on #291
Hmm that's really weird. And you're using a normal browser setup right? Like cookies carry over between tabs / both tabs there were in the same session.

Hmm I'll try to see how I can figure this out.

[2022-03-24 22:33] BrianGilbert commented on #291
I just tested the bookmarklet in Safari and it did import the page, meaning it must be something about my FF setup, however there is broken HTML in the imported page due to picture tag on images.

[2022-03-24 22:45] BrianGilbert commented on #291
Here are all my FF extensions that are enabled:
![Add-ons Manager 2022-03-25 09-43-56](https://user-images.githubusercontent.com/114017/160022240-cc30c3e2-7cb8-4b53-81fa-ff0687cb5139.png)

![Add-ons Manager 2022-03-25 09-44-20](https://user-images.githubusercontent.com/114017/160022261-3c538262-190b-4690-af02-bd1ca1592445.png)

![Add-ons Manager 2022-03-25 09-44-34](https://user-images.githubuserc

[2022-03-25 13:29] Uzay-G commented on #291
Not sure but is it possible the temporary container thing means the new tab doesn't have archivy logged in? I'm trying to replicate this but when I'm logged in it just directly saves the bookmark...

[2022-03-28 01:44] BrianGilbert commented on #291
Weirdly this issue only seems to occur when the tabs are in my personal container, when I test in my work container it imports the page correctly, I'd say this is probably closeable and I'll just need to figure out the cause in my local setup.

[2022-03-28 01:44] #291 closed

[2022-03-28 01:50] BrianGilbert commented on #291
@Uzay-G I did actually resolve it.. it was related to a setting I had in Sideberry to move default items in personal container, removed that and deleted personal container and it's working as expected now

[2022-04-29 12:52] Uzay-G commented on #247
Released in 1.7.3

[2022-05-26 23:11] #247 closed

[2022-05-26 23:13] Uzay-G commented on #203
See https://archivy.github.io/config/#editor-configuration for more info on how to do many of these things asked for here. Closing for now.

[2022-05-26 23:13] #203 closed

[2022-05-26 23:13] Uzay-G commented on #169
Closing as other issues address this.

[2022-05-26 23:13] #169 closed

[2022-05-26 23:13] #166 closed

[2022-05-28 07:24] nikochiko opened #293 "Vim mode for editor"
I missed the Vim keybindings while working in the browser editor. It might be a good idea to add that as an option, or as a plugin.
I'll be happy to work on this in my spare time.

@Uzay-G what do you think about it?

[2022-05-28 12:20] Uzay-G commented on #293
I think that'd be really cool — I'm also a vim user :P.
I'm not sure how long it would take to implement though, but I would be willing to help you with questions about archivy's structure if you want to work on this :)

[2022-05-28 13:32] nikochiko commented on #293
Awesome!
Yeah, I think it might take a while to implement. I'll have to do some research about how best to go about it.

I'll put the work in a draft PR once I start.

[2022-06-27 04:40] nikochiko commented on #293
Hey, I was caught up this month with moving and work.
I'm not sure when I'll be able to get back to this. I'll drop a note when I'm ready to start again, but until if someone else is interested then please feel free to go ahead.

[2022-06-27 09:56] Uzay-G commented on #293
No problem

[2022-08-24 23:49] BrianGilbert opened #294 "No apparent way to add tags after page creation?"
Hey @Uzay-G I was creating some notes today and noticed that I'm offered the opportunity to add tags when creating a new note, but there doesn't appear to be any way to edit an existing note to add tags?

[2022-08-25 05:27] Surfer298 commented on #289
This would be great! Could you also include a version for MacOSX? My wife uses a Macbook and is great fan of your project ;-)

[2022-09-24 18:00] almereyda opened #296 "Consider support for further search engines on a scale between the existing two"
In continuation of #13, there is a feature gap between the two offered search engines, and a resource gap in what resources are needed for providing the desired functionality.

While the list of suggested alternatives was diverse and lacked a specific review in contrast to archivy's requirements, there are two outstanding (experimental, version < 1) examples that need to be mentionned again. They

[2022-10-02 07:13] Uzay-G commented on #294
Hey, so basically you can just do this:

![random](https://user-images.githubusercontent.com/52892257/193442524-b9b83737-9928-4f02-8dec-0a28b3bfed8c.gif)

[2022-10-02 07:13] #294 closed

[2022-10-02 07:14] Uzay-G commented on #289
good to know, i'll try to get to this

[2022-11-22 12:10] n00rm commented on #289
Hi, a hosted version is a good idea maybe to also fund the development of the project. But one thing that needs to be adressed first is the UI. Most people I talked to and showed them the App said: Concept great but UI/UX is terrible. I understand that the main priotity of early development is features and bug fixing and not UI/UX but to ship it as a "product" this should be adressed. Happy to tal

[2022-11-22 20:17] Uzay-G commented on #289
Yeah development has been somewhat stalling. Would be down to talk about this and am curious about improvements you'd be interested in.

[2022-11-29 15:08] Uzay-G commented on #296
I want to do this and appreciate you creating the issue, just have been very busy. If you'd be interested in working on this I could help you out with situation relevant code / writing too, otherwise i'd probably do this later in january or something.

[2022-11-29 15:09] Uzay-G opened #297 "gpt-3 plugin"